@*@model List<NGX.Web.Areas.HotelBookingDomain.Models.HotelSearchViewModel>*@
@model NGX.Web.Areas.HotelBookingDomain.Models.DetailsModel
@using guestACCESS.DataAccess.Entity
@using guestACCESS.Kernel.VacencyServices;


@{
    UnitAvailable uA = new UnitAvailable();
    var InvdropdownList = uA.GetListOfInvType().Select(n => new SelectListItem { Text = n, Value = n }).ToList();
    var currentDate = DateTime.Now;

}

<style>

    #hotel-select .select2-selection,
    #InvDropdown, #UnitType {
        border: 1px solid #ccc !important;
        background: #fff;
        border-radius: 4px;
    }

    .form-search .form-field label,
    .field-date > label, .selection__placeholder,
    select > option,
    #select2-Destination-container,
    .select2-container--default .select2-selection--single .select2-selection__placeholder {
        color: #000 !important;
    }

    .form-control {
        font-size: inherit !important;
        padding: 0.7rem !important;
    }

    #select2-Destination-container {
        margin: 0 !important;
    }
    @@media (max-width: 767px) {
        .dest {
            width: 100%;
        }
    }

    @@media (max-width: 320px) {
        .tab-content {
            width: 100% !important;
            margin: 0 !important;
        }
    }
    span.select2-selection.select2-selection--single {
        height: 39px;
        border-color: #ccc !important;
    }
</style>
<!--Banner-->
<div class="form-search clearfix">
    @using (Html.BeginForm("HotelSearch", "Hotel", new { area = "HotelBookingDomain" }, FormMethod.Get, new { id = "hotelSearchForm" }))
    {
        <h2>Where would you like to go?</h2>
        <div class="check-box text-center">
            <label>
                Show available dates
            </label>
            <input type="checkbox" id="iddatesAvailable" class="datesAvailable" />
        </div>


        <div class="form-search row">
            <div class="form-group col-md-6 mb-4 form-field field-date">
                <label>Week Type</label>
                @Html.DropDownList("InvDropdown", (IEnumerable<SelectListItem>)InvdropdownList, "Select Weeks", new { @style = "width:100%; font-weight: normal; padding: 0.8rem", @class = "dottedSelect" })
            </div>

            <div class="form-group col-md-6 mb-4 form-field field-date">
                <label>Destination</label>
                <select class="form-control" id="destination" name="destination" style="width: 100%; border: none!important" required></select>
            </div>

             <div id="drpDown" class="form-search clearfix">
                    <div class="form-field field-destination">
                        <select id="chkDates" class="form-control" name="availableDates" style="width:100%;"><option value="">--Select--</option></select>
                    </div>
                </div> 

            <div class="form-group col-md-6 mb-4 form-field field-date vacancyDate">
                <label>Available From</label>
                @Html.TextBox("checkInDate", null, "{0:" + SharedLib.Misc.DateTimeFormatter.DefaultStyle + "}", new { @class = "form-control", autocomplete = "off", min = SharedLib.Misc.DateTimeFormatter.ConvertToString(currentDate, "", SharedLib.Misc.DateTimeFormatter.Style9), type = "date" })
            </div>

            <div class="form-group col-md-6 mb-4 form-field field-date vacancyDate">
                <label>Available To</label>
                @Html.TextBox("checkOutDate", null, "{0:" + SharedLib.Misc.DateTimeFormatter.DefaultStyle + "}", new { @class = "form-control", autocomplete = "off", min = SharedLib.Misc.DateTimeFormatter.ConvertToString(currentDate.AddDays(1), "", SharedLib.Misc.DateTimeFormatter.Style9), type = "date" })
            </div>
            <input type="hidden" name="tId" value="@Model.TripId">
            <input type="hidden" name="pId" value="@Model.PaxId">
            <input type="hidden" name="returnURL" id="returnURL" value="@( ViewData["ReturnUrl"])">
            <input type="hidden" name="isMain" value="true">

            <div class="form-submit col-md-12 text-center">
                <button type="submit" id="btnhotelPlanner" class="btn-danger" style="width: 10rem;">Search</button>
            </div>

        </div>

    }
</div>

