@*@model List<NGX.Web.Areas.HotelBookingDomain.Models.HotelSearchViewModel>*@
@model NGX.Web.Areas.HotelBookingDomain.Models.DetailsModel
@using guestACCESS.DataAccess.Entity

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_hotelBookingLayout.cshtml";
    
}
<link href="~/Content/assets/plugins/toast-master/css/jquery.toast.css" rel="stylesheet" />

<style>
.goog-te-gadget .goog-te-combo {
    margin: 1.5rem 0;
}

.goog-te-gadget .goog-te-combo {
    color: #555;
}
select.goog-te-combo {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    padding: 0;
    position: absolute;
    right: 5px;
    top: 8px;
    width: 40%;
    background-color: #fff;
}
/* updated on sept 17 2021 **/
header{
    background-color: #000000!important;
}
@@media only screen and (min-width: 990px){
select.goog-te-combo {
    width: 30%;
    border: 1px solid #ddd;
    top: 10px;
    border-radius: 4px;
    background-color: #fff;
}
.goog-te-gadget {
    margin: 1rem 0;
    color: transparent !important;
    padding: 1rem 0;
} }

</style>
<!--Banner-->
<section class="banner">

    <!--Background-->
    <div class="bg-parallax bg-1"></div>
    <!--End Background-->

    <div class="container">

        <div class="logo-banner text-center">
            <a href="" title="">
                <img src="images/logo-banner.png" alt="logo">
            </a>
        </div>

        <!-- Banner Content -->
        <div class="banner-cn">

            <ul class="tabs-cat text-center row">

                <li class="cate-item active" col-xs-3">
                    <a data-toggle="tab" href="#form-hotel" title="">
                        <span>Hotels</span>
                        <img src="~/Content/assets/jaunt2/images/icon/icon-hotel.png" />
                    </a>
                </li>

            </ul>
            <!-- End Tabs Cat -->
            <!-- Tabs Content -->
            <div class="tab-content">

                <!-- Search Hotel -->
                <div class="form-cn form-hotel tab-pane active in" id="form-hotel">
                    <div class="row">
                        <h2>Where would you like to go?</h2>

                    </div>
                    <div class="form-search clearfix">
                        @using (Html.BeginForm("HotelSearch", "Hotel", FormMethod.Get, new { id = "hotelSearchForm" }))
                        {
                            <div class="check-box">
                                <label>
                                    Show available dates
                                </label>
                                <input type="checkbox" class="datesAvailable" />
                            </div>
                         
                            <div class="form-search clearfix">
                                <div class="form-field field-destination">
                                    <label for="destination"><span>Destination:</span> Country, City</label>
                                    <select id="destination" name="destination" style="width: 100%" required></select>
                                </div>


                                <div id="drpDown">
                                    <div class="form-field field-destination">
                                        <select id="chkDates" class="form-control" name="availableDates"><option value= "">--Select--</option></select>
                                    </div>
                                </div>
                                <div id="manualInput">
                                    <div class="form-field field-date">
                                        <input type="text" class="field-input calendar-input" placeholder="Available from" name="checkInDate">
                                    </div>
                                    <div class="form-field field-date">
                                        <input type="text" class="field-input calendar-input" placeholder="Available to" name="checkOutDate">
                                    </div>
                                </div>
                                <input type="hidden" name="tId" value="@Model.TripId">
                                <input type="hidden" name="pId" value="@Model.PaxId">
                                <input type="hidden" name="returnURL" id="returnURL" value="@( ViewData["ReturnUrl"])">
                                <input type="hidden" name="isMain" value="true">

                                
                                <div class="form-submit">
                                    <button type="submit" class="awe-btn awe-btn-lager awe-search">Search</button>
                                </div>
                                
                            </div>

                        }
                    </div>
                </div>


            </div>
            <!-- End Tabs Content -->

        </div>
        <!-- End Banner Content -->

    </div>

</section>


@section scripts{

    @*<script src="~/Content/PageScripts/HotelBookingDomain/HotelBooking.js"></script>*@
    @*<script src="~/Content/Scripts/Shared.js"></script>*@
    <script src="~/Content/assets/plugins/toast-master/js/jquery.toast.js"></script>
    <script src="~/Content/PageScripts/HotelBookingDomain/index.js"></script>
    <script>
        $(function () {
            var hotelSearch = new HotelIndex();
            hotelSearch.dmcId = '@Model.DMCId'
            hotelSearch.getList = '@Url.Action("GetUnits", "Hotel")';
            hotelSearch.getDatesUrl = '@Url.Action("GetDates", "Hotel")';
            hotelSearch.init();

        });
    </script>

}

@section styles {

    <style>
        .check-box {
            margin: auto;
            width: 17%;
            border: 1px solid green;
            padding: 1px;
            text-align: center;
        }

    </style>
}
