
@model guestACCESS.Kernel.CarRental.CarRentalModels
    @{ 
        var currentDate = DateTime.Now;
    }

<style>
.modal-content{
    padding: 1rem 0.5rem;
    background: inherit!important;
}

.modal-content, .modal-footer{
    border: none!important;
}

.row .rentCar > div {
    padding: 0.5rem;
}

.row .rentCar .form-group label {
    margin: 0.35rem 0;
}

#activity-select #EventType, #activity-select label, #tripListAcitivity label, #create-trip label, #tripListFlyUs label, #pd-select label, #pd-info label, #activity-create label, #hotel-create label, #tripListHotel label, #EventTypeCatalog{
    color: #000!important;
}

.select2-container--default .select2-selection--single,
#EventTypeCatalog{
    border: 1px solid #ced4da!important;
}
.check-box label, .form-group label,
.form-search .form-field label{
    font-size: 17px!important;
}
</style>
@using (Html.BeginForm("CarRental", "EventTariff", new { area = "AdminDomain" }, FormMethod.Post, new { id = "CarRentalForm", @class = "form-horizontal" }))
{
    <div class="modal-content">       
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="box box-primary box-solid">
                        <div class="">
                            <div class="row rentCar">
                            
                                <div class="form-group col-md-6 col-xs-4">
                                    <label>Pick-Up Location</label>
                                    @*@Html.DropDownListFor(t => t.PickUpLocation, null, new { @class = "form-control select2", @style= "width: 100%;"})*@
                                    <select name="PickUpLocation" id="PickUpLocation" class="form-control select2" style="width: 100%;"></select>
                                    @Html.CheckBoxFor(t => t.IsDropLocationDifferent)
                                    <label for="IsDropLocationDifferent">Drop at Different Location?</label>
                                         <span style="color: #dc3545;">
                                        Note: If return locations differ from pickup, return locations are limited to airport locations ONLY.
                                        </span>
                                </div>

                                <div class="form-group col-md-6 col-xs-4">
                                    <label>Pick-Up Date</label>
                                    @* @Html.TextBoxFor(t => t.PickUpDate, new { @class = "form-control input-sm datepicker", @placeholder = "mm/dd/yyyy" })*@
                                    @Html.TextBox("PickUpDate",null, "{0:" + SharedLib.Misc.DateTimeFormatter.DefaultStyle + "}", new { @class = "form-control", autocomplete = "off", min = SharedLib.Misc.DateTimeFormatter.ConvertToString(currentDate, "", SharedLib.Misc.DateTimeFormatter.Style9), type = "date" })
                                </div>

                            </div>
                            @* ends First Row *@

                            <div class="row rentCar">

                                <div class="form-group col-md-6 col-xs-4">
                                    <label>Pick-Up Time</label>
                                    @Html.TextBoxFor(t => t.PickUpTime, new { @class = "form-control input-sm tpicker" })
                                </div>

                                <div class="form-group col-md-6 col-xs-4" id="dropDiv">
                                    <label>Drop-Off Location</label>
                                    <select name="DropOffLocation" id="DropOffLocation" class="form-control select2" style="width: 100%;"></select>
                                    @*@Html.DropDownListFor(t => t.DropOffLocation, null, new { @class = "form-control select2", @style = "width: 100%;" })*@
                                </div>

                                <div class="form-group col-md-6 col-xs-4">
                                    <label>Drop-Up Date</label>
                                    @Html.TextBox("DropOffDate", null, "{0:" + SharedLib.Misc.DateTimeFormatter.DefaultStyle + "}", new { @class = "form-control", autocomplete = "off", min = SharedLib.Misc.DateTimeFormatter.ConvertToString(currentDate, "", SharedLib.Misc.DateTimeFormatter.Style9), type = "date" })
                                </div>

                            </div>
                            @* Ends 2nd Row *@

                            <div class="row rentCar">
                                @* <div class="form-group col-md-4 col-xs-4">
                                    <label>Drop-Up Date</label>
                                    @Html.TextBox("DropOffDate", null, "{0:" + SharedLib.Misc.DateTimeFormatter.DefaultStyle + "}", new { @class = "form-control", autocomplete = "off", min = SharedLib.Misc.DateTimeFormatter.ConvertToString(currentDate, "", SharedLib.Misc.DateTimeFormatter.Style9), type = "date" })
                                </div>
                                 *@
                                <div class="form-group col-md-4 col-xs-4">
                                    <label>Drop-Off Time</label>
                                    @Html.TextBoxFor(t => t.DropOffTime, new { @class = "form-control input-sm tpicker" })
                                </div>
                                @*<div class="form-group col-md-4 col-xs-4">
                                        <label>Residency</label>
                                        @Html.DropDownListFor(t => t.Residency, (IEnumerable<SelectListItem>)ViewData["CountryCode"], new { @class = "form-control select2", @style = "width: 100%;" })
                                    </div>*@
                            </div>
                            @*<div class="row">
                                    <div class="form-group col-md-4 col-xs-4">
                                        <label>Driver's Age</label>
                                        @Html.TextBoxFor(t => t.DriverAge, new { @class = "form-control input-sm" })
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            @Html.HiddenFor(t => t.TripId)
            @Html.HiddenFor(t => t.ReturnUrl)
            <button type="submit" id="btnhotelPlanner" class="btn-danger" style="width: 10rem; padding: 0.75rem;">Search</button>
            @* <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Cancel</button> *@
        </div>
    </div>
}


