@using guestACCESS.Kernel.DMCManagement;
@model NGX.Web.Models.LandingModel

@{
    var dmcInfo = (DMC)ViewData["DMCInfo"];
    var dmcOption = new DMCOption(dmcInfo.ParentDMCId > 0 ? dmcInfo.ParentDMCId.Value : dmcInfo.DMCId);
    var cache_city = guestACCESS.DataAccess.CacheRepository.Cache_CityEntity.Instance.GetCache();
    var cache_country = guestACCESS.DataAccess.CacheRepository.Cache_CountryEntity.Instance.GetCache();
    var city = cache_city.Values.FirstOrDefault(a => a.CityId == dmcOption.CityId);
    var Country = cache_country.Values.FirstOrDefault(a => a.CountryId == (city != null ? city.CountryId : 0));

    var cityName = city != null ? city.CityName: string.Empty;
    var countryName = Country != null ? Country.CountryName : string.Empty;
    var dest = cityName + "," + countryName;
    var currentDate = DateTime.Now;
    
}


@using (Html.BeginForm("SearchHotel", "Jaunt2Landing", new { area = "" }, FormMethod.Get, new { id = "hotelPlannerForm" }))
{
    if (Model.IsAuthenticated && Model.EnableTripTag)
    {
        { Html.RenderPartial("_SelectTripHotel"); }
        <br />
        { Html.RenderPartial("_CreateTripHotel"); }
        <div class="row" id="tripListHotel">
            <div class="col-12 mb-3">
                <label>Trips</label><br>
                <select id="TripListHotel" class="select2" style="width: 100%" name="TripListHotel" required>
                </select>
            </div>
        </div>
    }
    <br />
    <h2 class="mb-3">Hotel Search</h2>

    <div class="row" id="hotel-select">
        <div class="form-group col-md-6 mb-4">
            <label>Destination</label>
            <select id="Destination" name="Destination" class="form-control" style="width: 100%">
                @if (!string.IsNullOrEmpty(cityName) && !string.IsNullOrEmpty(countryName))
                {
                    <option value="@dest" selected="selected">@(dest)</option>

                }
            </select>
        </div>
        <div class="form-group col-md-6 mb-4">
            <label>Check In Date</label>
            <input type="date" class="form-control" placeholder="Check in" id="CheckInDate" name="CheckInDate" autocomplete="off" min="@SharedLib.Misc.DateTimeFormatter.ConvertToString(currentDate,"",SharedLib.Misc.DateTimeFormatter.Style9)">
        </div>
        <div class="form-group col-md-6 mb-4">
            <label>Check Out Date</label>
            <input type="date" class="form-control" placeholder="Check out" id="CheckOutDate" name="CheckOutDate" autocomplete="off" min="@SharedLib.Misc.DateTimeFormatter.ConvertToString(currentDate.AddDays(1),"",SharedLib.Misc.DateTimeFormatter.Style9)">
        </div>
        <div class="form-group col-md-6 mb-4">
            <label>No. of Rooms</label>
            <div class="select">
                <select name="Rooms" id="Rooms" class="form-control" placeholder="Rooms">
                    <option value="">No. of Rooms</option>
                    @for (int i = 1; i <= 9; i++)
                    {
                        if (i < 9)
                        {
                            <option value="@i">@i</option>
                        }
                        else
                        {
                            <option value="9+">9+</option>
                        }

                    }
                </select>
            </div>
        </div>

        <div class="form-submit" style="text-align:center">

            <input type="hidden" id="CallBy" name="CallBy" value="HotelPlanner" />
            <button type="submit" id="btnhotelPlanner" class="btn-danger"  style="width: 10rem" >Search</button>
        </div>
        <div class="text-center">
            <h3>You are about to book a Hotel with our partner (Hotel Planner)</h3>
        </div>
    </div>
}
