@model guestACCESS.Kernel.ReferenceData.EventTemplate
@using guestACCESS.ClientWeb
@using guestACCESS.eCommerce.StandardSource
@using guestACCESS.eCommerce
@using guestACCESS.Kernel.DMCManagement;

@{ 
    bool isSpecialEvent = Model.Dates.Any();
}
<div class="modal" id="eventTemplateDetailModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!--BEGIN POP-UP HEADER-->
            <div class="modal-header">
                <h4 class="modal-title">@Model.EventName</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!--END POP-UP HEADER-->
            <!--BEGIN POP-UP BODY-->
            <div class="modal-body">
                <!--Event Image-->
                <div class="event-slide">
                    <div class="prop-slide owl-carousel owl-theme">
                        @{
                            var media = Model.Media.Where(t => t.MediaType == MediaType.Image || t.MediaType == MediaType.Video);
                        }
                        @foreach (var m in media.OrderBy(a => a.MediaType))
                        {
                            if (m.MediaType == MediaType.Image)
                            {
                                string tempImg = HelperExtensions.ParseImagePath(m.MediaContent);

                                <div class="item">
                                    <img src="@tempImg" />
                                </div>
                            }
                            else
                            {
                                if (!string.IsNullOrEmpty(m.MediaContent))
                                {
                                    var source = SharedLib.Html.HtmlHelper.GetSourceFromIframe(m.MediaContent);

                                    <div class="item-video">
                                        <a class="owl-video" href="@source"></a>
                                    </div>
                                }
                            }
                        }

                    </div>
                </div>
                <!--Title-->
                <p class="sub-title-pop">@Model.EventName</p>
                <!--Description-->
                @Html.Raw(Model.Media.HtmlDescription)
            </div>
            <!--END POP-UP BODY-->
            <!--BEGIN POP-UP FOOTER-->
            <div class="modal-footer">
                <span class="join-event-btn-container">
                    @{
                        var cart = ShoppingCart.GetShoppingCartofCurrentUser();
                        var addedEvent = cart.FirstOrDefault(a => a.EventTemplateId == Model.EventTemplateId);


                    }


                    @if (Model.TiqetProductId>0)
                    {
                        if (addedEvent == null)
                        {
                            <button type="button" class="join-event-btn" onclick="Catalog.ScheduleEvent('@Model.EventTemplateId',this)">
                                <span class="fa fa-edit"></span>
                                Schedule
                            </button>
                        }
                        else
                        {
                            <button type="button" class="edit-btn" data-identifier="@addedEvent.Identifier" onclick="Catalog.editEvent(this)">Edit</button>
                        }
                    }


                </span>
                <button type="button" class="close-btn" data-dismiss="modal">Close</button>
            </div>
            <!--END POP-UP FOOTER-->
        </div>
    </div>
</div>
                        }
