@model guestACCESS.eCommerce.StandardSource.StandardEventSource
@{var cart = guestACCESS.eCommerce.ShoppingCart.GetShoppingCartofCurrentUser();}
@using guestACCESS.ClientWeb
@using guestACCESS.eCommerce
@{
    ViewBag.Title = "Destination Catalog";
    Layout = "~/Views/Shared/_LayoutCatalog.cshtml";
    var events = ViewData["Events"] as guestACCESS.DataAccess.Common.PaginatedCollection<EventBase>;
}
@section HeadContent {
    <link rel="stylesheet" href="../../Content/plugins/iCheck/all.css">
    <link href="../../Content/plugins/OwlCarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="../../Content/plugins/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet" />
    <link href="../../Content/assets/jaunt2/css/drawer.css" rel="stylesheet">
    <link href="../../Content/assets/jaunt2/css/catalog.css" rel="stylesheet">
    <link href="~/Content/plugins/intlTelInput/intlTelInput.css" rel="stylesheet" />
    <link href="~/Content/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />

    <style>
        hotel-page:before, .package-page:before, .cruise-page:before, .car-page:before, .tour-page:before, .flight-page:before, .hotel-maps:before {
            background: none;
        }

        .modal-backdrop {
            background: transparent !important;
        }

        #welcome-pop iframe {
            width: 100%;
            height: 150px;
        }

        ul.event-options li .eoi-event {
            flex-basis: 30%;
        }

        ul.event-options li .eoi-date {
            flex-basis: 10%;
        }

        ul.event-options li .eoi-guest {
            flex-basis: 10%;
        }

        ul.event-options li .eoi-usd {
            flex-basis: 10%;
        }

        /*#welcome-pop img.img-fluid.event-img-pop,
        #welcome-pop iframe {
            height: 200px;
        }*/

        .slider_area {
            /*max-width: 450px;
            margin: 0 auto;
            margin-top: 25px;*/
            max-width: 100%;
            margin: 0 auto;
            margin-bottom: 20px;
        }

        .owl-carousel .owl-item img {
            max-width: 100%;
            /*width: auto;*/
            border-radius: 0;
            object-fit: cover;
            border-radius: 8px 8px 0 0;
        }

        .welcome_modal .modal-content {
            border-radius: 8px;
            /*border-radius: 3px;*/
            border: 0 !important;
        }

        .welcome_modal .modal-body {
            /*padding: 3em 20px;*/
            padding: 3em 0;
            text-align: center;
            padding-top: 0;
            margin: 0;
        }

            .welcome_modal .modal-body h3 {
                margin: 0;
                text-transform: uppercase;
                margin-bottom: 1em;
                font-size: 21px;
                /*color: #2C57E4;*/
            }

            .welcome_modal .modal-body .desc {
                /*padding: 5px 0px;
            font-size: 90%;
            color: #505050;
            margin-bottom: 15px;*/
                margin: 25px 0;
                padding: 5px 30px;
                font-size: 90%;
                color: #505050;
            }

        .over_flow_label {
            overflow-y: auto;
            max-height: 450px;
        }

        .start_button .btn {
            /*display: block;
             max-width: 160px;
             height:45px;
             line-height:45px;
             padding:0;
             background: #2C57E4;
             border-color: #2C57E4;
             text-transform: uppercase;*/
            display: block;
            max-width: 300px;
            margin: 0 auto;
            border-color: #17a2b8;
            text-transform: uppercase;
            height: 50px;
            line-height: 50px;
            padding: 0;
            background: #005b7f;
        }

        .start_button {
            /*text-align: left;*/
            text-align: center;
            display: block;
        }

            .start_button .btn:hover,
            .start_button .btn:focus,
            .start_button .btn:active {
                /*background: #3257d2;*/
                background: #17a2b8;
            }

        .owl-carousel .owl-video-tn {
            background-size: cover;
            /* padding-bottom: 56.25%; */ /* 16:9 */
        }

        .owl-video-frame {
            position: relative;
            /* padding-bottom: 56.25%;*/ /* 16:9 */
            padding-top: 25px;
            height: 0;
        }

            .owl-video-frame iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

        .owl-theme .owl-nav.disabled + .owl-dots {
            z-index: 9999;
            position: absolute;
            bottom: 0;
            left: 47%;
        }

        .owl-theme .owl-dots {
            text-align: left;
        }
        /*.owl-dots {
             text-align: left;
             margin-top: 7px;
         }
         .owl-dot {
            display: inline-block;
         }
         .owl-dot span {
             width: 11px;
             height: 11px;
             background-color: #ccc;
             border-radius: 50%;
             display: block;
             margin: 5px 3px;
         }*/
        /*.owl-dot.active span {
         background-color: #2C57E4;
         background-color: #000;
         }*/

        .item-video {
            max-height: 340px;
            height: 340px;
            /*height: 340px;*/
        }

        .owl-carousel .owl-item {
            max-height: 340px;
            overflow: hidden;
        }

        .owl-carousel .owl-video-wrapper {
            border-radius: 8px 8px 0 0;
        }

        .welcome_modal .modal-dialog.modal-lg {
            max-width: 800px;
        }
        /*.welcome_modal .modal-content {
            max-width: 830px;
            /*background: url(../../Content/assets/openToWeb/images/background.png);
            background-repeat: no-repeat;
            background-size: 100%;

        }*/
        .pdr-0 {
            padding-right: 0;
        }

        .mar0 {
            margin: 0;
        }

        @@media (min-width:768px) {
            /*.welcome_modal .modal-body{
                    min-height: 547px;
            }*/
            .item-video {
                height: 340px;
            }
        }
        /*@@media (max-width:769px){
            .modal-content {

            }

            .sm-second {
                order: 2;
            }
            .sm-first {
                order: 1;
            }

            .welcome_modal .modal-body {
                padding: 15px 15px;
            }

            .col-md-6.pdr-0.col-sm-12 {
                padding-left: 0;
            }

            .col-md-6.col-sm-12.sm-second {
                padding-left: 0;
                text-align: center;
            }

            .start_button .btn {
                margin: 0 auto;
            }

            .item {
                min-height: 200px;

            }
        }*/
        .btnHotelBook {
            background-color: #667e80;
            color: white;
        }

        div#chatDrawerflight {
            margin-top: 10%;
        }

        button.proceed-btn {
            float: right;
            color: #fff;
            background-color: #ff9800;
            border-color: #ff9800;
            box-shadow: 0 2px 2px 0 rgba(255, 152, 0, 0.14), 0 3px 1px -2px rgba(255, 152, 0, 0.2), 0 1px 5px 0 rgba(255, 152, 0, 0.12);
        }

        .event-selected .package-name a {
            color: #111111;
            font-size: 26px;
            line-height: 32px;
            text-decoration: none;
            font-weight: 300;
            -webkit-transition: all 0.2s linear;
            -moz-transition: all 0.2s linear;
            -ms-transition: all 0.2s linear;
            -o-transition: all 0.2s linear;
        }

        .event-selected .package-item .package-text p {
            margin: 0;
            color: #666666;
            font-family: 'Open sans';
            font-size: 13px;
            line-height: 20px;
            font-style: italic;
            margin: 19px 0 10px;
        }

        .viewDetails {
            color: #fff;
            background-color: #ff9800;
            border-color: #ff9800;
            box-shadow: 0 2px 2px 0 rgba(255, 152, 0, 0.14), 0 3px 1px -2px rgba(255, 152, 0, 0.2), 0 1px 5px 0 rgba(255, 152, 0, 0.12);
            display: inline-block;
            color: white;
            width: 100%;
            text-align: center;
        }

        .v-sm {
            line-height: 40px;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 12px;
        }

        span.select2-container.select2-container--default {
            z-index: 9999;
        }
        /*        .price-box-catalog
        {
            color: #666666;
            display: block;
            line-height: 26px;
            font-family: 'Open sans';
            font-size: 20px;
            font-weight: 300;
        }*/
        .package-item .package-text .price-box .price {
            font-size: 14px !important;
        }

        .pager-info {
            margin-top: 20px;
        }

        .page-size-selector {
            margin-top: 11px;
        }

        .iti__country-list {
            z-index: 99999;
        }

        /* footer part overrided here **/
        /* on sept15 2021 **/
        footer{
            background-color: #000000!important;
            padding-bottom: 0;
            font-size: 1.5rem!important;
        }
        
        footer .footer-wrapper .language-selection {
             margin-right: -2.5rem!important;
             }

             @@media only screen and (max-width: 767px){
                 .cart-btn {
                     position: absolute;
                     right: 0;
                      @* padding: 2rem; *@
                      }

                 footer .selection{
                     margin-top: 0;
                 }
                 }

         #CurrencySelect2 {
          color: #000000;
          border-radius: 5px !important;
          font-size: 1.5rem!important;
          }

        .goog-te-gadget .goog-te-combo {
            margin: 4px 0;
            font-size: 1.5rem!important;
            }

            @@media only screen and (max-width: 767px){
            #sorted{
                margin-top: 5rem;
            } }

            /* updated on sept 24 2021 **/
            .form-control{
                font-weight: 400;
            }

            .search-result {
                height: auto!important;
                margin-top: 2rem;
                }
                .package-item .package-text p {
                    height: auto!important;
                }

                @@media only screen and (max-width: 991px){
                    .event-btns {
                        text-align: right!important;
                    }}

     
         </style>

}
@section FootContent {

    <style>
        a.btn.btn-primary.btn-sm.right {
            color: #fff !important;
        }
    </style>
    <script src="../../Content/plugins/jQuery-cookie/jquery.cookie.js"></script>
    <script src="../../Content/dist/js/paginationObject.js"></script>
    <script src="../../Content/dist/js/CurrencyConverter.js" type="text/javascript"></script>
    <script src="../../Content/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="../../Content/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="../../Content/plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <script src="../../Content/plugins/iCheck/icheck.min.js"></script>
    @*   <script src="../../Content/pageScripts/ec_SOE.js" type="text/javascript"></script>*@
    <script src="~/Content/plugins/intlTelInput/intlTelInput-jquery.min.js"></script>

    <script src="../../Content/pageScripts/ec_STE.js" type="text/javascript"></script>
    <script src="../../Content/pageScripts/ec_CartParticipant.js"></script>
    <script src="../../Content/pageScripts/ec_Catalog.js" type="text/javascript"></script>
    <script src="../../Content/plugins/OwlCarousel/owl.carousel.min.js"></script>
    <script src="~/Content/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            //var Catalog = new Catalog();
            Catalog.DMCId = parseInt('@Model.DMCId');
            Catalog.showQty ='@cart.showQuantity.ToString().ToLower()' == 'true';
            Catalog.RemoveUrl = '@Url.Action("Remove", "ShoppingCart")';
            Catalog.CityUrl = '@Url.Action("GetCityBasedOnDMCAndCountry", "CacheData")';
            Catalog.TiqetsCityUrl = '@Url.Action("GetTiqetsCityBasedOnDMCAndCountry", "CacheData")';
            Catalog.EventTypesUrl = '@Url.Action("GetEventTypesBasedOnCity", "Catalog")';
            Catalog.ShoppingCartUrl = '@Url.Action("Index", "Summary",new { orderId = cart.TempData["OrderId"] })';
            Catalog.steUrl = '@Url.Action("Add","STE")';
            Catalog.editSteUrl = '@Url.Action("Edit","STE")';
            Catalog.ProductTimeSlotsUrl = '@Url.Action("GetProductTimeSlots","STE")';
            Catalog.ProductVarientUrl = '@Url.Action("GetProductVarient","STE")';
            Catalog.ShoppingCartNavUrl = '@Url.Action("ShoppingCart","Catalog")';
            Catalog.VisitorDataUrl = '@Url.Action("GenerteVisitorDataForm","STE")';
            Catalog.Init();
        });
    </script>
}
@{
    var eventTypes = ViewData["EventTypes"] as Dictionary<int, guestACCESS.DataAccess.Entity.T_GASDataEventType>;
    var cities = ((IEnumerable<SelectListItem>)ViewData["City"]);
    var countries = ((IEnumerable<SelectListItem>)ViewData["Country"]);
}
<!-- Main -->
<div class="main">
    <div class="container">
        @using (Html.BeginForm("Index", "Catalog", FormMethod.Post, new { id = "SearchForm" }))
        {
            <div class="form-group row" id="sorted">
                <div class="col-md-3 pull-right">
                    <label for="inputEmail3" class="col-md-4 col-form-label" style=" padding-top: 7px; padding-left: 28px;">Sort by:</label>
                    <div class="col-md-8">
                        @Html.DropDownList("SortBy", new List<SelectListItem>
                {
                    new SelectListItem{ Text="Name(A-Z)", Value = "nLH" },
                    new SelectListItem{ Text="Name(Z-A)", Value = "nHL" },
                    new SelectListItem{ Text="Price(High to Low)", Value = "pHL" },
                    new SelectListItem{ Text="Price(Low to High)", Value = "pLH" },

                 }, new { @class = "form-control" })
                    </div>
                </div>
                
            </div>

            <div class="main-cn package-page bg-white clearfix">
                <div class="row">
                    <!-- Hotel Right -->
                    <div class="col-md-9 col-md-push-3">
                        <section class="package-list">
                            <!-- Step -->
                            <div class="step">
                                <!-- Step -->
                                <ul class="payment-step text-center clearfix">
                                    <li class="step-select">
                                        <span>1</span>
                                        <p>Make Selections</p>
                                    </li>
                                    <li class="step-select">
                                        <span>2</span>
                                        <p>Confirm</p>
                                    </li>
                                    <li class="step-select">
                                        <span>3</span>
                                        <p>Pay</p>
                                    </li>
                                </ul>
                                <!-- ENd Step -->
                            </div>
                            <!-- ENd Step -->
                            <!-- Package Content -->
                            <div class="package-list-cn" id="list-container">
                                @Html.Partial("Options")
                            </div>
                            <!-- End Package Content -->
                        </section>
                    </div>
                    <!-- End Hotel Right -->
                    <!-- Sidebar Hotel -->
                    <div class="col-md-3 col-md-pull-9">
                        <!-- Sidebar Content -->
                        <div class="sidebar-cn">
                            <!-- Search Result -->
                            <div class="search-result">
                                <p>
                                    We found
                                    <br>
                                    <ins id="catalogEventCount">@events.RecordCount</ins> <span>events available</span>
                                </p>
                            </div>
                            <!-- End Search Result -->
                            <!-- Search Form Sidebar -->
                            <div class="search-sidebar">
                                <div class="row">
                                    <div class="form-search clearfix">
                                        <br />
                                        <div class="form-field col-md-12">
                                            <label for="country"><span>Country:</span> </label>

                                        </div>
                                        <div class="form-field col-md-12">
                                            @if (Model.CityId > 0)
                                            {
                                                @Html.DropDownList("CountryId", countries, new { @class = "form-control" ,@disabled="disabled"})
                                            }
                                            else
                                            {
                                                @Html.DropDownList("CountryId", countries, new { @class = "form-control" })
                                            }


                                        </div>

                                        <div class="form-field col-md-12">
                                            <label for="city"><span>City:</span> </label>

                                        </div>
                                        <div class="form-field col-md-12">
                                            <select name="CityId" id="CityId" class="form-control" @(Model.CityId>0?"disabled='disabled'":"")>
                                                <option value="">Please Select</option>
                                                @foreach (var city in cities)
                                                {
                                                    <option value="@city.Value" @(city.Value == Model.CityId.ToString() ? "selected ='selected'" : " ")>@city.Text</option>
                                                }
                                            </select>
                                            <input type="hidden" name="CityId" value="@Model.CityId.ToString()" />
                                        </div>

                                        <div class="form-field col-md-12">
                                            <label for="eType"><span>Event Type:</span> </label>

                                        </div>
                                        <div class="form-field col-md-12">
                                            @Html.DropDownListFor(t => t.EventTypeId, eventTypes.OrderBy(t => t.Value.TypeName).Select(t => new SelectListItem { Text = t.Value.TypeName, Value = t.Value.TypeId.ToString() }), "All", new { @class = "form-control" })
                                        </div>
                                        <div class="form-field col-md-12">
                                            <label for="eType"><span>KeyWord:</span> </label>

                                        </div>
                                        <div class="form-field col-md-12">
                                            @Html.TextBoxFor(t => t.EventNameKeyword, new { @class = "form-control input-sm", placeholder = "Keyword" })
                                        </div>

                                        <div class="form-submit col-md-12">
                                            @Html.HiddenFor(t => t.DMCId)
                                            @Html.HiddenFor(t => t.TripId)
                                            @Html.HiddenFor(t => t.UserId)
                                            @Html.HiddenFor(t => t.UserDmcId)
                                            @Html.HiddenFor(t => t.CatalogTypeId)
                                            @Html.Hidden("source", Model.EventSource)
                                            <button type="button" id="btnSearch" class="btn btn-sm">
                                                <span class="fa fa-search"></span>
                                                Search
                                            </button>
                                            @*    <button type="submit" class="awe-btn awe-btn-medium awe-search">Search</button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Search Form Sidebar -->

                        </div>
                        <!-- End Sidebar Content -->
                    </div>
                    <!-- End Sidebar Hotel -->

                </div>

            </div>
        }
    </div>
</div>
<!-- End Main -->
<!-- /.container -->
