@model guestACCESS.eCommerce.StandardSource.StandardEventSource
@using guestACCESS.ClientWeb
@using guestACCESS.WebCommon
@using SharedLib
@using guestACCESS.eCommerce
@using guestACCESS.eCommerce.StandardSource

<div id="list-container-selection" class="box-body">
    @{
        var eventTypes = ViewData["EventTypes"] as Dictionary<int, guestACCESS.DataAccess.Entity.T_GASDataEventType>;
        var events = Model.GetEvents() as guestACCESS.DataAccess.Common.PaginatedCollection<EventBase>;
        var cart = ShoppingCart.GetShoppingCartofCurrentUser();
        string backurl = Convert.ToString(ViewData["backurl"]);
    }
    @if (cart.Count > 0)
    {
        foreach (StandardEvent i in cart)
        {
            StandardEvent addedEvent = cart.FindFirstAddedEvent(i) as StandardEvent;
            if (addedEvent != null)
            {
    <div class="event container event-selected" id="event01">
        <!--This event has been selected-->
        <span><i class="fas fa-check-circle fa-2x checked"></i></span>
        <!--BEGIN ROW-->
        <div class="event-row01 row">
            <div class="event-img-col col-sm-12 col-md-12 col-lg-6 col-xl-5">
                @Html.Image(addedEvent.MediaContent.Image, "Photo", "event-img")
            </div>
            <!--BEGIN EVENT CONTENT-->
            <div class="event-content-col col-sm-12 col-md-12 col-lg-6 col-xl-7">
                <!--Event Title-->
                <div class="event-title"><span>@addedEvent.EventName</span></div>
                <!--Event Description-->
                @*<p class="event-description">
                    <%=addedEvent.MediaContent.PlainTextDescription %>
                </p>*@

                <!--BEGIN EVENT DATA-->
                <div class="event-data">
                    <!--Event CATEGORY-->
                    <div>
                        <span class="event-sub-title">EVENT CATEGORY:</span>
                        <span class="event-type">@(eventTypes.ContainsKey(addedEvent.TypeId) ? eventTypes[addedEvent.TypeId].TypeName : "N/A")</span>
                    </div>

                    <!--Number of Guests-->
                    <div>
                        <span class="event-sub-title">NUMBER OF GUESTS:</span>
                        <span class="event-type">@addedEvent.PAXCount GUESTS</span>
                    </div>
                    <!--Event Current Price-->
                    <div>
                        <span class="event-sub-title">CURRENT PRICE/GUEST:</span>
                        <span class="current-price">@CurrencyConverter.ToPriceString(addedEvent.PricePerPAX) </span>
                    </div>
                    <!--Event Date-->
                    <div>
                        <span class="event-sub-title">DATE:</span>
                        <span class="date">@Html.RenderDateTimeRange(addedEvent.EventDate, addedEvent.EventEndDate, SharedLib.Misc.DateTimeFormatter.DefaultStyle)</span>
                    </div>
                    <!--Event Time-->
                    <div>
                        <span class="event-sub-title">TIME:</span>
                        @*<%if (i.DepartureTime != null)
                        { %>*@
                        <span class="time">@Html.RenderDateTimeRange(addedEvent.DepartureTime, addedEvent.ReturnTime, SharedLib.Misc.DateTimeFormatter.Style2, "All day")</span>
                        @*<%}
                        else
                        { %>*@
                        @*<span class="time"><%=Html.RenderDateTimeRange(i.MasterDepartureTime, i.MasterReturnTime, SharedLib.Misc.DateTimeFormatter.Style2, "All day") %></span>*@
                        @*<%} %>*@
                    </div>
                </div>
                <!--END EVENT DATA-->
            </div>
            <!--END EVENT CONTENT-->
        </div>
        <!--END ROW-->
        <!--BEGIN EVENT BUTTONS-->
        <div class="event-btns-contain center">
            <!--BEGIN ROW-->
            <div class="event-btns row">
                <!--View Details Button-->
                <span class="col-lg-3 view-details-btn-container">
                    <button type="button" class="view-details-btn" data-eventtemplateid="@addedEvent.EventTemplateId" onclick="Catalog.viewMoreEventTemplate('@Html.GenerateEventUrl(i)', this)">View Details</button>
                </span>
                <!--Quit Event Button-->
                <span class="col-lg-3 quit-btn-container">
                    <button type="button" class="quit-btn" data-identifier="@addedEvent.Identifier" onclick="Catalog.Remove(this);">Quit Event</button>
                </span>
                <!--Edit Event Button-->
                <span class="col-lg-3 edit-btn-container">
                    <button type="button" class="edit-btn" data-identifier="@addedEvent.Identifier" onclick="Catalog.ScheduleEvent('@Html.GenerateEventUrl(addedEvent)',this)">Edit</button>
                </span>
                <!--Checkout Button-->
                <span class="col-lg-3 checkout-btn-container">
                    <a href="javascript:void(0);" class="btn btn-primary btn-shoppingcart">
                        <span class="fa fa-shopping-cart"></span>
                        Shopping Cart
                    </a>
                    @*<button type="button" class="join-event-btn" data-action="checkout"><span>CHECKOUT</span><i class="fas fa-chevron-right checkout-icon"></i></button>*@
                </span>
            </div>
            <!--END ROW-->
        </div>

        <!--END EVENT BUTTONS-->
    </div>

            }
        }
    }
    else
    {
        <div class="event container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <p class="text-center"><strong>No event added yet.</strong></p>
                </div>
            </div>
        </div>
    }
    <div class="center">
        <div class="checkout-btn-contain">
            <p>Dear guest, if you have finished choosing your events, please click here to proceed for check out.</p>
            <a href="javascript:void(0);" class="checkout-btn btn-shoppingcart">
                <span class="fa fa-shopping-cart"></span>
                Shopping Cart
            </a>
        </div>
    </div>

</div>
<!-- /.box-body -->
