@model NGX.Web.Models.LogOnModel

<div id="modal-select-dmc" class="modal fade" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-sm">
            @using (Html.BeginForm("LogOn", "UserAuthJaunt2", FormMethod.Post, new { id = "LogonForm", @class = "form-horizontal", role = "form" }))
            {
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myLargeModalLabel">Select Database</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <p>Please be adviced that you can not create programs or manage data if the database is not specified.</p>
                        <div class="form-group ">
                            <div class="col-xs-12">
                                @Html.DropDownListFor(t => t.LoginDMC, (IEnumerable<SelectListItem>)ViewData["DMC"], "Not specified", new { @class = "select2", style = "width: 100%" })
                            </div>
                            <div id="dmcSelect" class ="col-xs-12" style=" color: #D63301; padding-top: 10px;">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        @Html.HiddenFor(t => t.UserName)
                        @Html.HiddenFor(t => t.Password)
                        @Html.HiddenFor(t => t.IsPersistent)
                        @Html.Hidden("url", ViewData["redirect_url"])
                        @Html.Hidden("AutoSubmit")
                        <button type="button" id="btnProceed" class="btn btn-info waves-effect text-left">Proceed</button>
                        <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                    </div>
                </div>
            }
        </div>
    </div>
