@model guestACCESS.Kernel.TripManagement.Trip
@{
    Layout = "~/Views/Shared/_LayoutDIY.cshtml";
    ViewBag.Title = "Invoicing";
}

@{
    var city_cache = guestACCESS.DataAccess.CacheRepository.Cache_City.Instance;
}


<style>
/* added css on sept 17 2021 **/

@@media (max-width: 480px){
ul.nav.nav-pills.nav-pills-rose.diy-wizards.flex-column {
    width: 30px;
    padding: 0 5px;
    margin-top: -21rem;
} }

</style>

<div class="card report-card">
    <div class="card-body">
        <div>
            <h3 class="card-title">@Model.TripName</h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <div class="icon-list-demo custom">
                            <i class="fa fa-calendar"></i>&nbsp;Start date: @SharedLib.Misc.DateTimeFormatter.ConvertToString(Model.StartDate)
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="icon-list-demo custom">
                            <i class="fa fa-calendar"></i>&nbsp;End date: @SharedLib.Misc.DateTimeFormatter.ConvertToString(Model.EndDate)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="icon-list-demo custom">
                            <i class="fa fa-map-marker"></i>&nbsp;Location:&nbsp;@city_cache.GetCityName(Model.CityId)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title"></h4>
                        </div>
                        <div class="col-md-6 text-lg-right text-sm-center text-md-center">
                            <button type="button" class="btn btn-info" id="btn-post-charges" data-action="post-charges">
                                <i class="fa fa-save"></i>&nbsp;Post Charges
                            </button>

                            @*<button type="button" class="btn btn-danger" id="btn-generate-report" data-action="generate-report">
                                    <i class="fa fa-report"></i>&nbsp;Send 810 Report
                                </button>*@
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-sm-3 col-md-3">
                            @Html.Partial("DIYNav", Model.TripId)
                        </div>
                        <!--end col-md-4-->
                        <div class="col-lg-10 col-sm-9 col-md-9">
                            <div class="col-md-12">
                                <hr>
                                <div class="custom_tab">
                                    <div class="btn_warp_pg">

                                        <!-- Nav tabs -->
                                        <ul class="nav nav-pills nav-pills-primary diy-wizards" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" role="tab" aria-selected="true" href="#tab-by-invoice" data-toggle="tab">
                                                    <span class="hidden-xs-down">By Invoice</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" role="tab" aria-selected="false" href="#tab-by-event" data-toggle="tab">
                                                    <span class="hidden-xs-down">By Event</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" role="tab" aria-selected="false" href="#tab-additional" data-toggle="tab">
                                                    <span class="hidden-xs-down">Additional Items</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    @*<ul class="nav nav-tabs customtab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" data-toggle="tab" href="#tab-by-invoice" role="tab">
                                                    <span class="hidden-xs-down">By Invoice</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#tab-by-event" role="tab">
                                                    <span class="hidden-xs-down">By Event</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#tab-additional" role="tab">
                                                    <span class="hidden-xs-down">Additional Items</span>
                                                </a>
                                            </li>
                                        </ul>*@
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab-by-invoice" role="tabpanel">
                                        </div>
                                        <div class="tab-pane" id="tab-by-event" role="tabpanel">
                                        </div>
                                        <div class="tab-pane" id="tab-additional" role="tabpanel">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <button type="button" class="btn btn-inverse" onclick="window.history.back();">Back to Previous Page</button>
    </div>
</div>

@section scripts{
    <script src="/Content/PageScripts/FinancialDomain/Invoicing/Index.js"></script>
    <script src="/Content/assets/plugins/moment/min/moment-with-locales.min.js"></script>
    <script type="text/javascript">
        var inv = new invoicing();
        inv.tripId = '@Model.TripId';
        inv.postChargesUrl = '@Url.Action("PostCharges", "Invoicing")';
        inv.loadbyEventViewUrl = '@Url.Action("ViewByEvent", "Invoicing")';
        inv.loadbyInvoiceViewUrl = '@Url.Action("ViewByInvoice", "Invoicing")';
        inv.loadAdditionalItemsUrl = '@Url.Action("ViewAdditionalItems", "Invoicing")';
        inv.editActivityUrl = '@Url.Action("ActivityCharges", "Invoicing")';
        inv.addMiscFeesUrl = '@Url.Action("InvoiceMiscFees", "Invoicing")';
        inv.deleteActivityUrl = '@Url.Action("DeleteActivity", "Invoicing")';
        inv.editAdditionalItemUrl = '@Url.Action("AdditionalItem", "Invoicing")';
        inv.deleteAdditionalItemUrl = '@Url.Action("DeleteAdditionalItem", "Invoicing")';
        inv.printInvoiceUrl = '@Url.Action("PrintInvoice", "Invoicing")';
        inv.finalizeInvoiceUrl = '@Url.Action("FinalizeInvoice", "Invoicing")';
        inv.editInvoiceUrl = '@Url.Action("InvoiceDetail", "Invoicing")';
        inv.logPaymentUrl = '@Url.Action("LogPayment", "Invoicing")';
        inv.deletePaymentUrl = '@Url.Action("DeletePayment", "Invoicing")';
        inv.generateReportUrl='@Url.Action("GenerateReport","Invoicing")';
        inv.init();
    </script>
}

@section styles{
    <style>
        .modal .row {
            margin: 0 !important;
        }

        div#modal-edit-supply .close {
            margin-top: -27px !important
        }

        li {
            list-style: none;
        }
    </style>
}

