@model NGX.Web.Models.LandingModel
@using guestACCESS.Kernel.DMCManagement;
@using guestACCESS.WebCommon;
@using System.Linq;
@{

    //Layout = "~/Views/shared/_LandingJaunt2.cshtml";
    Layout = "~/Views/shared/_layoutForJaunt2DIY.cshtml";
    var dmcInfo = (DMC)ViewData["DMCInfo"];
    var dmcId = dmcInfo.DMCId;
    var profile = CompanyProfile.GetDMCProfile(dmcId);


    var currentUser = SharedLib.Authenticator.MemberTicketManager.Instance.CurrentUserTicket;
    var clientOptions = DMCHelper.GetOptionByDmc(dmcInfo.ParentDMCId > 0 ? dmcInfo.ParentDMCId.Value : dmcInfo.DMCId);
    int[] flightOptions = clientOptions.SelectedFlightBookingType == null ? new int[] { } : clientOptions.SelectedFlightBookingType.Split(',').Select(b => Convert.ToInt32(b)).ToArray();
    int[] hoteloptions = clientOptions.SelectedHotelType == null ? new int[] { } : clientOptions.SelectedHotelType.Split(',').Select(a => Convert.ToInt32(a)).ToArray();

}
<style>
    .field-city, .field-country {
        width: 30% !important;
    }

    .field-eventType {
        width: 20% !important;
    }

    .pac-container {
        z-index: 1440 !important;
    }

    .form-hotel .field-select {
        width: 250px !important;
    }
</style>

<!--Banner-->
<section class="banner">

    <!--Background-->
    <div class="bg-parallax bg-1"></div>
    <!--End Background-->

    <div class="container">

        @{ Html.RenderPartial("_BannerLogo");}

        <!-- Banner Content -->

        <div class="homepage-list">
            <ul class="nav nav-homepage nav-pills mb-3" id="pills-tab" role="tablist">

                @if (flightOptions.Contains((int)EnableFlightBookingType.FlyUs) && Model.FlightUrl != null)
                {
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-flight-tab" data-bs-toggle="pill" data-bs-target="#pills-flight" type="button" role="tab" aria-controls="pills-flight" aria-selected="true">flights</button>
                        <img src="/Content/assets/jaunt2/images/icon-flight.png" alt="Oops!.." data-bs-toggle="pill" data-bs-target="#pills-flight" type="button" role="tab" aria-controls="pills-flight" aria-selected="false">
                    </li>
                }
                @if (hoteloptions.Contains((int)EnabledHotelType.HotelPlanner))
                {
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-hotels-tab" data-bs-toggle="pill" data-bs-target="#pills-hotels" type="button" role="tab" aria-controls="pills-hotels" aria-selected="true">Hotels</button>
                        <img src="/Content/assets/jaunt2/images/icon-hotel.png" alt="Oops!.." data-bs-toggle="pill" data-bs-target="#pills-hotels" type="button" role="tab" aria-controls="pills-hotels" aria-selected="false">
                    </li>
                }
                @if (clientOptions.EnableTiqets)
                {
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-activities-tab" data-bs-toggle="pill" data-bs-target="#pills-activities" type="button" role="tab" aria-controls="pills-activities" aria-selected="true">Activities</button>
                        <img src="/Content/assets/jaunt2/images/icon-vacation.png" alt="Oops!.." data-bs-toggle="pill" data-bs-target="#pills-activities" type="button" role="tab" aria-controls="pills-activities" aria-selected="false">
                    </li>
                }
                @if (clientOptions.EnableHomePickDrop)
                {
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-carey-tab" data-bs-toggle="pill" data-bs-target="#pills-carey" type="button" role="tab" aria-controls="pills-carey" aria-selected="true">PickUp/DropOff</button>
                        <img src="/Content/assets/jaunt2/images/icon-car.png" alt="Oops!.." data-bs-toggle="pill" data-bs-target="#pills-carey" type="button" role="tab" aria-controls="pills-carey" aria-selected="false">
                    </li>
                }
                @if (clientOptions.EnableSpecialEvent)
                {
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-specialEvent-tab" data-bs-toggle="pill" data-bs-target="#pills-specialEvent" type="button" role="tab" aria-controls="pills-specialEvent" aria-selected="true">Special Event</button>
                        <img src="/Content/assets/jaunt2/images/icon-vacation.png" alt="Oops!.." data-bs-toggle="pill" data-bs-target="#pills-specialEvent" type="button" role="tab" aria-controls="pills-specialEvent" aria-selected="false">
                    </li>
                }
            </ul>

            <div>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-flight" role="tabpanel" aria-labelledby="pills-flight-tab">
                        <!-- Search Flight-->
                        @{ Html.RenderPartial("/Views/Jaunt2Landing/_FormFlight.cshtml");}

                        <!-- End Search Flight -->
                    </div>

                    <div class="tab-pane fade form-cn form-hotel" id="pills-hotels" role="tabpanel" aria-labelledby="pills-hotels-tab">

                        @{ Html.RenderPartial("/Views/Jaunt2Landing/_FormHotel.cshtml", Model);}
                    </div>

                    <div class="tab-pane fade form-cn form-tiqetbooking" id="pills-activities" role="tabpanel" aria-labelledby="pills-activities-tab">

                        @{ Html.RenderPartial("/Views/Jaunt2Landing/_FormActivities.cshtml");}

                    </div>
                    <div class="tab-pane fade form-cn" id="pills-carey" role="tabpanel" aria-labelledby="pills-carey-tab">

                        @{
                            guestACCESS.Kernel.CarBooking.CarBookingModels carModel = new guestACCESS.Kernel.CarBooking.CarBookingModels();
                            //carModel.OrderId = Model.AccessCode;
                            //carModel.PickDropDate = Model.StartDate;
                            //carModel.Trip = Model;
                            carModel.DmcId = Model.DmcId ?? 0;
                            Html.RenderPartial("/Views/Jaunt2Landing/_FormHomePickDrop.cshtml", carModel);
                            <input type="hidden" id="TripId" />
                            <input type="hidden" id="OrderId" />

                        }

                    </div>
                    <div class="tab-pane fade form-cn form-catalog-activities" id="pills-specialEvent" role="tabpanel" aria-labelledby="pills-specialEvent-tab">

                        @{ Html.RenderPartial("/Views/Jaunt2Landing/_FormSpecialEvent.cshtml");}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Banner-->
@section scripts{
    <script defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=@WebConfigValues.GoogleApiKey&libraries=places"></script>
    <script src="~/Content/assets/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="~/Content/assets/plugins/toast-master/js/jquery.toast.js"></script>
    <script src="~/Content/PageScripts/Jaunt2/GoogleMap/ec_GoogleMap.js"></script>
    <script src="~/Content/Scripts/Jaunt2.js"></script>
    <script>

        $(function () {

            var landingPage = new LandingPage();
            landingPage.DMCId = '@Model.DmcId';
            landingPage.UserId = '@Model.UserId';
            landingPage.IsAuthenticated = '@Model.IsAuthenticated';
            landingPage.EnableLogOn = '@Model.EnableLogOn';
            landingPage.EnableTripTag = '@Model.EnableTripTag';
            landingPage.EnableTripCreate = '@Model.EnableTripCreate';
            landingPage.loadCityUrl = '@Url.Action("GetCity", "CacheData", new { area = "" })';
            landingPage.loadCityWithDMCUrl = '@Url.Action("GetCityBasedOnEvent", "CacheData", new { area = "" })';
            landingPage.loadCountryUrl = '@Url.Action("GetCountry", "CacheData", new { area = "" })';
            landingPage.loadCountryWithDMCUrl = '@Url.Action("GetCountryBasedOnEvent", "CacheData", new { area = "" })';
            landingPage.ClientUrl = '@Model.ClientUrl';
            landingPage.loadEventTypeUrl = '@Url.Action("GetEventType", "CacheData", new { area = "" })';
            landingPage.loadEventTypeWithDMCUrl = '@Url.Action("GetEventBasedOnCity", "CacheData", new { area = "" })';
            landingPage.hotelPlannerUrl = '@Model.HotelPlannerUrl';
            landingPage.init();
        });
    </script>
}
