@using guestACCESS.Kernel.Invitation
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/shared/_LandingJaunt2.cshtml";
    var dmc = guestACCESS.Kernel.DMCManagement.DMC.GetDMCListByParentUrl(Request.Url.Authority).FirstOrDefault();
    var company = guestACCESS.Kernel.DMCManagement.CompanyProfile.GetDMCProfile(dmc.DMCId);
    var accessCode = ViewBag.AccessCode;
    int logid = ViewBag.LogId;
    var invLog = logid == 0 ? new InvitationLog() : new InvitationLog(logid);
}

<section class="sub-banner">
    <!--Background-->
    <div class="bg-parallax bg-1"></div>
    <!--End Background-->
    <!-- Logo -->
    @Html.Partial("_BannerLogo")
    <!-- Logo -->
</section>
<div class="main">
    <div class="container">
        <div class="main-cn element-page bg-white clearfix">
            <!--Breakcrumb-->
            <section class="breakcrumb-sc">
                <ul class="breadcrumb arrow">
                    <li><a href="/"><i class="fa fa-home"></i></a></li>
                    <li> </li>
                </ul>
                <div class="support float-right">
                    <small>Got a question?</small> @company.Phone
                </div>
            </section>
            <!--End Breakcrumb-->

            <section class="user-profile">
                <div class="user-form user-signup">
                    @using (Html.BeginForm("SignUp", "Jaunt2Landing", FormMethod.Post, new { id = "frmSignUp", @class = "form-horizontal" }))
                    {
                        <div class="row">
                            <div class="col-md-5">
                                <h2 class="user-profile__title">Sign up</h2>
                                <div class="field-input">
                                    <input type="text" class="input-text" placeholder="First Name" name="FirstName" value="@invLog.FirstName" required>
                                    @Html.ValidationMessage("FirstName", "", new { @class = "text-danger" })
                                </div>
                                <div class="field-input">
                                    <input type="text" class="input-text" placeholder="Last name" name="LastName" value="@invLog.LastName" required>
                                    @Html.ValidationMessage("LastName", "", new { @class = "text-danger" })
                                </div>
                                <div class="field-input">
                                    <input type="text" class="input-text" placeholder="Email" name="Email" value="@invLog.Email" required>
                                    @Html.ValidationMessage("Email", "", new { @class = "text-danger" })
                                </div>
                                <div class="field-input">
                                    <input type="password" class="input-text" placeholder="Password" name="Password" id="Password" required>
                                    @Html.ValidationMessage("Password", "", new { @class = "text-danger" })
                                </div>
                                <div class="field-input">
                                    <input type="password" class="input-text" placeholder="Confirm Password" name="ConfirmPassword" id="ConfirmPassword" required>
                                    @Html.ValidationMessage("ConfirmPassword", "", new { @class = "text-danger" })
                                </div>
                                @if (string.IsNullOrEmpty(accessCode))
                                {

                                    <div class="field-input ">
                                        <label><strong>Account Type</strong></label>
                                        <div class="accountType">
                                            @Html.RadioButton("AccountType", (byte)UserAccountType.Personal, new { id = "AccountType_0" }) <label for="AccountType_0">
                                                Personal
                                            </label>
                                            @Html.RadioButton("AccountType", (byte)UserAccountType.TravelPlanner, new { id = "AccountType_1" })<label for="AccountType_1">Travel Planner</label>

                                        </div>
                                    </div>
                                }
                                else
                                {
                                    @Html.Hidden("AccountType", (byte)UserAccountType.Personal)
                                }
                                <div class="row" style="display:none;" id="IsPlanner">
                                    <div class="col-md-12">
                                        <div class="field-input">
                                            <input type="text" class="input-text" placeholder="Access Code" name="AccessCode" value="@accessCode" required>
                                            @Html.ValidationMessage("AccessCode", "", new { @class = "text-danger" })
                                        </div>

                                    </div>
                                </div>

                                <div class="row" style="display:none;" id="DMCInfo">
                                    <div class="col-md-12">
                                        <div class="field-input">
                                            <input type="text" class="input-text" placeholder="Company Name" name="CompanyName" required>
                                            @Html.ValidationMessage("CompanyName", "", new { @class = "text-danger" })
                                        </div>
                                        <div class="field-input">
                                            <input type="text" class="input-text" placeholder="Address" name="Address" required>
                                            @Html.ValidationMessage("Address", "", new { @class = "text-danger" })
                                        </div>
                                        <div class="field-input">
                                            <input type="text" class="input-text" placeholder="Zip" name="Zip" required>
                                            @Html.ValidationMessage("Zip", "", new { @class = "text-danger" })
                                        </div>
                                        <div class="field-input">
                                            <input type="text" class="input-text" placeholder="Phone" name="Phone" required>
                                            @Html.ValidationMessage("Phone", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="field-input">
                                    <div class="check-box">
                                        <input type="checkbox" id="agree">
                                        <label for="agree">
                                            I have read and agree to the Terms of Use and Privacy Policy
                                        </label>
                                    </div>
                                </div>
                                <div class="field-input">
                                    @Html.Hidden("InvitationId", invLog.InvitationId)
                                    <button class="awe-btn awe-btn-1 awe-btn-medium" type="button" id="signUpBtn">Sign up</button>
                                </div>
                            </div>
                            @Html.Partial("_WhyJaunt", new ViewDataDictionary { { "isSignUp", true } })
                        </div>
                    }
                </div>
            </section>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Content/Scripts/Jaunt2.js"></script>
    <script src="~/Content/Scripts/Jaunt2SignUp.js"></script>
    <script>

        $(function () {
            var signUp = new SignUp();
            signUp.init();
        });
    </script>
}
@section styles{
    <style>
        .accountType input[type=radio] {
            margin-left: 3px;
        }

        .accountType label {
            margin-left: 5px;
        }
    </style>
}




