@using NGX.Web.Areas.AdminDomain.Models
@model UserDashboardModel
@{
    ViewBag.Title = "My Dashboard";
    var uploadedFiles = new UserDashboardMedia();
}

@section styles{
    <!-- chartist CSS -->
    <link href="/Content/assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="/Content/assets/plugins/chartist-js/dist/chartist-init.css" rel="stylesheet">
    <link href="/Content/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <!--This page css - Morris CSS -->
    <link href="/Content/assets/plugins/c3-master/c3.min.css" rel="stylesheet">
    <!--This page css - Morris CSS -->
    <link href="/Content/assets/plugins/morrisjs/morris.css" rel="stylesheet">
    <link href="/Content/assets/plugins/dropzone-master/dist/dropzone.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .ct-series-a .ct-line, .ct-series-a .ct-point {
            /* Set the colour of this series line */
            stroke: #1e88e5;
        }

        .ct-series-b .ct-line, .ct-series-b .ct-point {
            /* Set the colour of this series line */
            stroke: #26c6da;
        }
          </style>

}

@section scripts{
   
    <!-- chartist chart -->
    <script src="/Content/assets/plugins/chartist-js/dist/chartist.js"></script>
    <script src="/Content/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <!-- Vector map JavaScript -->
    <script src="/Content/assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="/Content/assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- Calendar JavaScript -->
    <script src="/Content/assets/plugins/moment/moment.js"></script>
    <script src="/Content/assets/plugins/calendar/dist/fullcalendar.min.js"></script>
    <!-- sparkline chart -->
    <script src="/Content/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!-- accounting -->

    <script src="/Content/assets/plugins/accounting/accounting.min.js"></script>
    <script src="/Content/PageScripts/AdminDomain/UserDashboard/Index.js"></script>
    <script src="/Content/PageScripts/AdminDomain/TripNote/Index.js"></script>
    <script src="~/Content/assets/plugins/jquery.form/jquery.form.min.js"></script>
    <script src="/Content/assets/plugins/dropzone-master/dist/dropzone.js"></script>

    <script type="text/javascript">
        Dropzone.autoDiscover = false;
        $(document).ready(function () {
            graphWidgetHelper.url = '@Url.Action("GraphWidget", "UserDashboard")';
            graphWidgetHelper.startDate = '@Model.StartDate';
            graphWidgetHelper.endDate = '@Model.EndDate';
            graphWidgetHelper.mode = '@Model.Mode';
            graphWidgetHelper.individualUserId = '@Model.IndividualUserId';
            graphWidgetHelper.pageUrl = "/AdminDomain/UserDashboard/Index?mode=@UserDashboardModel.MyPrograms";
            graphWidgetHelper.init();
            graphWidgetHelper.loadData();

            var cw = new calendarWidget();
            cw.mode = '@Model.Mode';
            cw.individualUserId = '@Model.IndividualUserId';
            cw.eventSourceUrl = '@Url.Action("Calendar", "TripNote")';
            cw.listUrl = "@Url.Action("ToDoList", "TripNote")";
            cw.createUrl = "@Url.Action("Create", "TripNote")";
            cw.editUrl = "@Url.Action("Edit", "TripNote")";
            cw.deleteUrl = "@Url.Action("Delete", "TripNote")";
            cw.setStatusUrl = "@Url.Action("SetStatus", "TripNote")";
            cw.exportUrl = "@Url.Action("Export", "TripNote")";
            cw.init();

            var cgh = new createGroupHelper();
            cgh.mode = '@Model.Mode';
            cgh.searchHotelUrl2 = '@Url.Action("GetHotels", "CacheData",new { area = "" })';
            cgh.searchCityUrl = '@Url.Action("GetCityBasedOnUserIdentity", "CacheData",new { area = "" })';
            cgh.searchContactUrl = '@Url.Action("SearchClientContact", "CRMPrompt")';
            cgh.getContactDetailUrl = '@Url.Action("LoadContact", "CRMPrompt")';
            cgh.createUrl = '@Url.Action("Create", "Trip")';
            cgh.eventTariffPageUrl = '@Url.Action("Index", "EventTariff")';
            cgh.uploadImageUrl = '@Url.Action("UploadMedia", "UserDashboard")';
            cgh.dashboardMediaUrl = '@Url.Action("DashboardMedia", "UserDashboard")';
            cgh.deleteDashboardMediaUrl = '@Url.Action("DeleteDashboardMedia", "UserDashboard")';
            cgh.init();

        });
    </script>
}

<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor">My Dashboard</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">Home</a>
                </li>
                <li class="breadcrumb-item active">My Dashboard</li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->

    <div class="row">
        <div class="col-md-12 m-b-10">
            @Html.ActionLink("My Groups Overview", "Index", "UserDashboard", new { mode = UserDashboardModel.MyPrograms }, new { @class = Model.Mode == UserDashboardModel.MyPrograms ? "btn btn-info" : "btn btn-default" })
            @Html.ActionLink("Department Overview ", "Index", "UserDashboard", new { mode = UserDashboardModel.DMCPrograms }, new { @class = Model.Mode == UserDashboardModel.DMCPrograms ? "btn btn-info" : "btn btn-default" })
            @Html.ActionLink("View Groups", "Index", "Trip", null, new { @class = "btn btn-default" })
            @if (guestACCESS.WebCommon.DMCHelper.CurrentUserLoginDMC > 0)
            {
                <button type="button" id="btn-create-group" class="btn btn-default">Create Group</button>
            }
            <div class="col-md-2 select2-customize" style="padding:0;display:inline-block;">
                @if (Model.Managers != null)
                {
                    @Html.DropDownList("IndividualUserId", Model.Managers, "Self", new { @class = "select2 form-control" })
                }
            </div>

        </div>
    </div>
    @Html.Action("Index", "TripNote")

    <div id="dashboard-media">

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                @Html.DropDownList("reportYears", (IEnumerable<SelectListItem>)(ViewData["SelectYears"]), new { @class = "form-control" })
            </div>
            <div class="pull-right">
                <small>Last Update Time: </small><small id="sm-last-refresh-time"></small>
                <button type="button" id="btn-refresh-widget" class="btn btn-default"><i class="fa fa-refresh"></i></button>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex flex-wrap">
                                <div>
                                    <h3 class="card-title">Revenue</h3>
                                    <h6 class="card-subtitle">Monthly Vs Accumulated</h6>
                                </div>
                                <div class="ml-auto">
                                    <ul class="list-inline">
                                        <li>
                                            <h6 class="text-muted text-info"><i class="fa fa-circle font-10 m-r-10"></i>Monthly</h6>
                                        </li>
                                        <li>
                                            <h6 class="text-muted text-success"><i class="fa fa-circle font-10 m-r-10 "></i>Accumulated</h6>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="amp-pxl" style="height: 360px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-group">
        <!-- Column -->
        <div class="card">
            <div class="card-body text-center">
                <h4 class="text-center">Actual Group # YTD</h4>
                <div id="spark1">
                    <canvas width="99" height="70" style="display: inline-block; width: 99px; height: 70px; vertical-align: top;"></canvas>
                </div>
            </div>
            <div class="box b-t text-center">
                <h4 class="font-medium m-b-0">
                    <span id="spark1-label"></span>
                </h4>
            </div>
        </div>
        <!-- Column -->
        <div class="card">
            <div class="card-body text-center">
                <h4 class="text-center">
                    Proposed Group # YTD
                </h4>
                <div id="spark2">
                    <canvas width="99" height="70" style="display: inline-block; width: 99px; height: 70px; vertical-align: top;"></canvas>
                </div>
            </div>
            <div class="box b-t text-center">
                <h4 class="font-medium m-b-0">
                    <span id="spark2-label"></span>
                </h4>
            </div>
        </div>
        <!-- Column -->
        <div class="card">
            <div class="card-body text-center">
                <h4 class="text-center">
                    Actual Amount YTD
                </h4>
                <div id="spark3">
                    <canvas width="99" height="70" style="display: inline-block; width: 99px; height: 70px; vertical-align: top;"></canvas>
                </div>
            </div>
            <div class="box b-t text-center">
                <h4 class="font-medium m-b-0">
                    <span id="spark3-label"></span> USD
                </h4>
            </div>
        </div>
        <!-- Column -->
        <div class="card">
            <div class="card-body text-center">
                <h4 class="text-center">
                    Proposed Amount YTD
                </h4>
                <div id="spark4">
                    <canvas width="99" height="70" style="display: inline-block; width: 99px; height: 70px; vertical-align: top;"></canvas>
                </div>
            </div>
            <div class="box b-t text-center">
                <h4 class="font-medium m-b-0">
                    <span id="spark4-label"></span> USD
                </h4>
            </div>
        </div>
        <!-- Column -->
        <div class="card">
            <div class="card-body text-center">
                <h4 class="text-center">Trial Cost</h4>
                <div id="spark5">
                    <canvas width="99" height="70" style="display: inline-block; width: 99px; height: 70px; vertical-align: top;"></canvas>
                </div>
            </div>
            <div class="box b-t text-center">
                <h4 class="font-medium m-b-0">
                    <span id="spark5-label"></span> USD
                </h4>
            </div>
        </div>
        <!-- Column -->
        <div class="card">
            <div class="card-body text-center">
                <h4 class="text-center">Projected GPP</h4>
                <div id="spark6">
                    <canvas width="99" height="70" style="display: inline-block; width: 99px; height: 70px; vertical-align: top;"></canvas>
                </div>
            </div>
            <div class="box b-t text-center">
                <h4 class="font-medium m-b-0">
                    <span id="spark6-label"></span> %
                </h4>
            </div>
        </div>
        <!-- Column -->
        <div class="card">
            <div class="card-body text-center">
                <h4 class="text-center">Actual GPP</h4>
                <div id="spark7">
                    <canvas width="99" height="70" style="display: inline-block; width: 99px; height: 70px; vertical-align: top;"></canvas>
                </div>
            </div>
            <div class="box b-t text-center">
                <h4 class="font-medium m-b-0">
                    <span id="spark7-label"></span> %
                </h4>
            </div>
        </div>
    </div>

</div>
  

