@using guestACCESS.ClientWeb
@using Stripe;
@using guestACCESS.DataAccess;
@using guestACCESS.Kernel.DMCManagement;
@{
    var dmcId = ViewBag.DmcId;
    var dmcOptions = new DMCOption(dmcId);
    Layout = null;
    StripeConfiguration.ApiKey = dmcOptions.StripeSecurityKey;
   
    var service = new PriceService();
    //StripeList<Price> prices = service.List(options);
    var cacheKey = StripeProductsCache.GetDmcCacheKey(dmcId);
    List<Stripe.Price> prices = StripeProductsCache.GetProducts(StripeConfiguration.ApiKey, dmcOptions.DonationProductId, cacheKey);
    var priceTypeList = prices.Where(a => a.Metadata.Count == 0 && a.Type == "recurring").Select(a => new { a.Type, Interval = a.Recurring.Interval, IntervalCount = a.Recurring.IntervalCount }).ToList();
}

<div class="modal fade" id="doantionBoxModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" style="width: 400px;">
            <div class="modal-header">
                <h4 class="modal-title">Donate</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="btn-group btn-group-toggle" data-toggle="buttons">

                        <label class="btn btn-secondary active">
                            <input type="radio" name="paymentType" id="option1" class="oneTimeType" autocomplete="off" value="oneTime" checked data-checkoutmode="payment" data-paymentmode="payment"> One-Time
                        </label>
                        @if (priceTypeList.Any(a => a.Type == "recurring" && a.Interval == "week" && a.IntervalCount == 1))
                        {
                            <label class="btn btn-secondary">
                                <input type="radio" name="paymentType" id="option2" class="subscriptionType" value="week" autocomplete="off" data-checkoutmode="subscription" data-paymentmode="subscriptionWeekly"> Weekly
                            </label>
                        }
                        @if (priceTypeList.Any(a => a.Type == "recurring" && a.Interval == "month" && a.IntervalCount == 1))
                        {
                            <label class="btn btn-secondary">
                                <input type="radio" name="paymentType" id="option3" class="subscriptionType" value="month" autocomplete="off" data-checkoutmode="subscription" data-paymentmode="subscriptionMonthly"> Monthly
                            </label>
                        }
                        @if (priceTypeList.Any(a => a.Type == "recurring" && a.Interval == "year" && a.IntervalCount == 1))
                        {
                            <label class="btn btn-secondary">
                                <input type="radio" name="paymentType" id="option3" class="subscriptionType" value="year" autocomplete="off" data-checkoutmode="subscription" data-paymentmode="subscriptionYearly"> Annually
                            </label>
                        }
                    </div>
                    <div id="oneTimePriceDiv">
                        <div class="row" style="padding: 16px;">
                            @{
                                foreach (var item in prices.Where(x => x.Type == "one_time" && x.Metadata.Count == 0).OrderBy(x => x.UnitAmount))
                                {
                                    {
                                        var amount = item.UnitAmount / 100;
                                        <div class="stripPrice-box col-md-2" data-value="@amount" data-priceid="@item.Id">
                                            $@amount
                                        </div>
                                    }


                                }
                            }
                        </div>
                        <div class="row" style="text-align: center; padding: 5px;">
                            <input type="number" name="oneTimeAmount" id="oneTimeAmount" class="form-control customAmountBox" data-checkoutmode="payment" placeholder="$ Custom Amount" />

                        </div>
                    </div>
                    @if (priceTypeList.Any(a => a.Type == "recurring" && a.Interval == "week" && a.IntervalCount == 1))
                    {
                        <div id="subscriptionPriceWeeklyDiv" style="display:none">
                            <div class="row" style="padding: 16px;">
                                @{
                                    foreach (var item in prices.Where(x => x.Type == "recurring" && x.Recurring.Interval == "week" && x.Metadata.Count == 0 && x.Recurring.IntervalCount==1).OrderBy(x => x.UnitAmount))
                                    {
                                        {
                                            var amount = item.UnitAmount / 100;
                                            <div class="stripPrice-box col-md-2" data-value="@amount" data-priceid="@item.Id">
                                                $@amount
                                            </div>
                                        }


                                    }
                                }
                            </div>
                            <div class="row" style="text-align: center; padding: 5px;">
                                <input type="number" name="subscriptionAmount" id="subscriptionAmountWeekly" class="form-control customAmountBox" placeholder="$ Custom Amount" />

                            </div>
                        </div>
                    }
                    @if (priceTypeList.Any(a => a.Type == "recurring" && a.Interval == "month" && a.IntervalCount == 1))
                    {
                        <div id="subscriptionPriceMonthlyDiv" style="display:none">
                            <div class="row" style="padding: 16px;">
                                @{
                                    foreach (var item in prices.Where(x => x.Type == "recurring" && x.Recurring.Interval == "month" && x.Metadata.Count == 0 && x.Recurring.IntervalCount == 1).OrderBy(x => x.UnitAmount))
                                    {
                                        {
                                            var amount = item.UnitAmount / 100;
                                            <div class="stripPrice-box col-md-2" data-value="@amount" data-priceid="@item.Id">
                                                $@amount
                                            </div>
                                        }


                                    }
                                }
                            </div>
                            <div class="row" style="text-align: center; padding: 5px;">
                                <input type="number" name="subscriptionAmount" id="subscriptionAmountMonthly" class="form-control customAmountBox" placeholder="$ Custom Amount" />

                            </div>
                        </div>
                    } @if (priceTypeList.Any(a => a.Type == "recurring" && a.Interval == "year" && a.IntervalCount == 1))
                    {
                        <div id="subscriptionPriceYearlyDiv" style="display:none">
                            <div class="row" style="padding: 16px;">
                                @{
                                    foreach (var item in prices.Where(x => x.Type == "recurring" && x.Recurring.Interval == "year" && x.Recurring.IntervalCount == 1 && x.Metadata.Count == 0).OrderBy(x => x.UnitAmount))
                                    {
                                        {
                                            var amount = item.UnitAmount / 100;
                                            <div class="stripPrice-box col-md-2" data-value="@amount" data-priceid="@item.Id">
                                                $@amount
                                            </div>
                                        }


                                    }
                                }
                            </div>
                            <div class="row" style="text-align: center; padding: 5px;">
                                <input type="number" name="subscriptionAmount" id="subscriptionAmountYearly" class="form-control customAmountBox" placeholder="$ Custom Amount" />

                            </div>
                        </div>
                    }
                </div>
                <div id="error-message"></div>

            </div>
            <div class="modal-footer">
                <input type="button" value="Pay" class="btn btn-primary btn-donation" />
                <button type="button" class="btn btn-danger " data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

