@model guestACCESS.eCommerce.ProgramSource.ProgramEvent
@using guestACCESS.ClientWeb
@using guestACCESS.eCommerce
@using SharedLib
@using guestACCESS.eCommerce.ProgramSource
@{  var cart = ShoppingCart.GetShoppingCartofCurrentUser(); }
<div class="options">
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOption">
                <h5 class="mb-0">
                    <a class="btn btn-link" data-toggle="collapse" href="#collapse_@Model.MasterEventId" role="button" aria-expanded="false" aria-controls="collapseOne">Options</a>
                </h5>
            </div>
            <div id="collapse_@Model.MasterEventId" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <ul class="event-options">
                        @{if (((GroupEvent)Model).GroupSubEvents.Any())
                            {
                                foreach (var sub in ((GroupEvent)Model).GroupSubEvents)
                                {
                                    var eventId = 0;
                                    ProgramEvent subAddedEvent = cart.FindFirstAddedEvent(sub) as ProgramEvent;
                                    var j = subAddedEvent != null ? subAddedEvent : sub;
                                    var isHosted = false;
                                    if (j is ProgramArrivalTransportEvent)
                                    {
                                        eventId = ((ProgramArrivalTransportEvent)j).MasterEventId;
                                        isHosted = ((ProgramArrivalTransportEvent)j).HostedEvent;
                                    }
                                    else if (j is ProgramEvent)
                                    {
                                        eventId = ((ProgramEvent)j).MasterEventId;
                                        isHosted = ((ProgramEvent)j).HostedEvent;
                                    }
                                    else if (j is ProgramDepartureTransportEvent)
                                    {
                                        eventId = ((ProgramDepartureTransportEvent)j).MasterEventId;
                                        isHosted = ((ProgramDepartureTransportEvent)j).HostedEvent;
                                    }
                          
                        
                        <li>
                            <a class="eo-item eoi-event" data-eventid="@eventId" onclick="Tariff.viewEventMore(this)">
                                @j.EventName
                                @isHosted?" (Hosted Event) " :""
                                @j.Identifier != Guid.Empty ? "(Selected)" : ""
                            </a>
                            <span class="eo-item eoi-date">
                                @Html.RenderDateTimeRange(j.EventDate,j.EventEndDate,SharedLib.Misc.DateTimeFormatter.DefaultStyle)
                                @Html.RenderDateTimeRange(j.DepartureTime,j.ReturnTime,SharedLib.Misc.DateTimeFormatter.Style2,"All day")
                            </span>
                            <span class="eo-item eoi-guest">
                                @if (j.Identifier != Guid.Empty)
                                    { 
                                @j.PAXCount Guest(s)
                                }else{ 
                                    var eventInventory = new guestACCESS.Kernel.TripManagement.EventInventory(eventId);
                                        
                                    @eventInventory.AvailableInventory stock left
                                } 
                            </span>
                            <span class="eo-item eoi-usd">
                                <i class="fa fa-money"></i>
                                @CurrencyConverter.ToPriceString(j.PricePerPAX)
											    </span>
                            @if (j.Identifier == Guid.Empty)
                                { 
                            <a class="eo-item eoi-btn btn btn-primary btn-sm right" data-eventid="@eventId" onclick="Tariff.JoinEvent(this)">
                                <span class="fa fa-cart-plus"></span>
                                Book
                            </a>
                            }
                                else
                                { 
                            <div class="eo-item eoi-btn">
                                <a class=" btn btn-primary btn-sm right" data-identifier="@j.Identifier" onclick="Tariff.EditEvent(this)">Edit
                                </a>
                                <a class="btn btn-danger btn-sm right" data-identifier="@j.Identifier" onclick="Tariff.Remove(this)">Quit
								</a>
                            </div>
                            } 
                        </li>
                        }
                            }
                            else
                            {}
                        <li>
                            <a href="javascript:void(0);">No option is available
                            </a>
                        </li>
                        } 
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

