@model guestACCESS.Kernel.CarBooking.CarBookingModels
@using guestACCESS.ClientWeb
@{
    var cache_airport = guestACCESS.DataAccess.CacheRepository.Cache_Airport.Instance;
    var airportData = cache_airport.GetCache().OrderBy(t => t.AirportCode).Select(t => new SelectListItem { Text = string.Format("{0} ({1})", t.AirportCode, t.AirportName), Value = t.AirportCode });
}

<div id="HomePickUpDropOffModal" class="modal">
    <div class="modal-dialog modal-lg">
        @using (Html.BeginForm("HomePickUpDropOffSelect", "Tariff", FormMethod.Post, new { id = "HomePickDropForm" }))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Home Pick up / Drop off</h4>
                </div>
                <div class="modal-body">

                    <div id="masterPaxInfo" style="font-weight: bold; font-size:15px" >
                       
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <h5 class="box-title"><b>Home City Address</b></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12 col-xs-12">
                            <label>&nbsp;</label>
                            <div class="col-md-12 text-center">
                                <div class="row">
                                    <button type="button" class="btn btn-info" id="btnMapLocation">
                                        <i class="fa fa-map"></i>&nbsp;Click Here to Load Address from Map
                                    </button>
                                    <div id="Message" style="padding-left: 1em"></div>
                                    @if (Model.HomeCityGeoLocation != null)
                                    {
                                        <div id="MessageEdit" style="padding-left: 1em"><b>Location Selected.</b></div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4 col-xs-4">
                            <label>Address</label>
                            <input type="text" name="HomeAddress" id="HomeAddress" class="form-control" readonly="readonly" required="required" />
                            @Html.TextBoxFor(t => t.Address, new { @class = "form-control input-sm", @type = "hidden" })
                        </div>
                        <div class="form-group col-md-4 col-xs-4">
                            <label>Country</label>
                            @*<input type="text" name="HomeCountry" id="HomeCountry" class="form-control" />*@
                            @Html.TextBoxFor(t => t.Country, new { @class = "form-control input-sm", @readonly = "readonly" })
                            @*@Html.DropDownListFor(a => a.CountryId, ViewData["Country"] as IEnumerable<SelectListItem>, "Select", new { @class = "form-control select2", style = "width:100%" })*@
                        </div>
                        <div class="form-group col-md-4 col-xs-4">
                            <label>City</label>
                            @*<input type="text" name="HomeCity" id="HomeCity" class="form-control" />*@
                            @Html.TextBoxFor(t => t.City, new { @class = "form-control input-sm", @readonly = "readonly", @required = "required" })
                            @*@Html.DropDownListFor(t => t.CityId, (IEnumerable<SelectListItem>)ViewData["Cities"], "Please Select", new { @class = "form-control select2", style = "width:100%" })*@
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-md-4 col-xs-4">
                            <label>Postal Code</label>
                            @*<input type="text" name="HomePostalCode" id="HomePostalCode" class="form-control" />*@
                            @Html.TextBoxFor(a => a.ZipCode, new { @class = "form-control  ", @readonly = "readonly" })
                        </div>
                        
                    </div>
                    <div class="row">
                        <h4>You can change your flight info through this link :@Html.ActionLink("Change Flight", "Index", new { controller = "OrderParticipant", id = ViewData["AccessCode"] }, new { target = "_blank" }) </h4>

                    </div>
                    <br />

                    <div class="row">
                        <div class="form-group col-md-10 col-xs-6">
                            <label>Participants</label>
                            <select id="PaxList" class="select2" style="width: 100%" multiple="multiple" name="PaxList" required>
                                @foreach (var i in (IEnumerable<SelectListItem>)ViewData["PaxList"])
                                {
                                    @*<option value="@i.Value" selected="selected">@i.Text</option>*@
                                    <option value="@i.Value">@i.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <table id="PaxTbl" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Pax Name</th>
                                        <th>Airport</th>
                                        <th>Flight Time</th>
                                        <th>Update Flight Info</th>
                                        <th>Update HomeAddress</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <div id="flightMessage">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12 col-xs-12">
                            <div class="box-header with border">
                                <h5 class="box-title"><b>Pick/Drop Information</b></h5>
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-xs-12">
                            <div class="row">
                                <div class="col-md-3">
                                    @Html.RadioButtonFor(a => a.HomePickDropSelect, HomePickUpDropOff.HomePickUp, new { id = "HomePickUpDropOff_0" })
                                    <label for="HomePickUpDropOff_0"><b>Home Pick up</b></label>
                                </div>
                                <div class="col-md-3">
                                    @Html.RadioButtonFor(a => a.HomePickDropSelect, HomePickUpDropOff.HomeDropOff, new { id = "HomePickUpDropOff_1", @required = "required" })
                                    <label for="HomePickUpDropOff_1"><b>Home Drop off</b></label>
                                </div>
                            </div>
                        </div>
                        @*<div class="form-group  col-md-12 col-xl-12">
                            <div class="row">
                                    <div class="col-md-6">
                                        <div class="box-body" id="homePickUpFlightInfo">
                                            <label>Flight Info</label>
                                            <p id="flightDateInfo"></p>
                                        </div>
                                    </div>
                            </div>
                        </div>*@
                        <div class="form-group col-md-12 col-xs-12">
                            <div class="row">
                                <b id="travelTimeText"></b>
                            </div>
                        </div>

                        <div class="form-group col-md-12 col-xs-12">
                                <div class="col-md-6" id="arrivaltoAirport">
                                    <div class="box-body">
                                        <label>Reach Airport Before (in mins)</label>
                                        <input type="number" id="ReachAirportTime" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-6" id="departFromAirport">
                                    <div class="box-body">
                                        <label>Departure From Airport (in mins)</label>
                                        <input type="number" id="DepartureFromAirport" class="form-control" />
                                    </div>
                                </div>
                        </div>

                        <div class="form-group col-md-6 col-xs-6">
                            <div class="box-body">
                                <label>Airport</label>
                                @Html.DropDownListFor(a => a.PickDropLocation, airportData, "Please select", new { @class = "select2 form-control", @style = "width:100%", @required = "required" })
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-xs-6">
                            <div class="box-body">
                                <label>Date</label>
                                @Html.TextBoxFor(a => a.PickDropDate, new { @class = "form-control datepicker ", @required = "required", @autocomplete = "off" })
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    @Html.HiddenFor(a => a.PaxId)
                    @Html.HiddenFor(a => a.OrderId)
                    @Html.HiddenFor(a => a.HomeCityGeoLocation)
                    @*@Html.HiddenFor(a => a.HomeAddress)*@
                    @Html.HiddenFor(a => a.CityName)
                   @* @Html.HiddenFor(a => a.ZipCode)*@
                    @Html.Hidden("accessCode", ViewData["AccessCode"])
                    <input type="hidden" id="paxFlightTime" />
                    <input type="hidden" id="calTravelTime" />
                    <input type="hidden" id="masterPaxId" />
                    <button type="button" id="btnProceed" class="btn btn-primary">Proceed</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        }
    </div>
</div>


