@model guestACCESS.eCommerce.ProgramSource.ProgramEventSource
@using guestACCESS.ClientWeb
@using guestACCESS.WebCommon
@using SharedLib
@using guestACCESS.eCommerce
@using guestACCESS.eCommerce.ProgramSource
@{
    var trip = new guestACCESS.Kernel.TripManagement.Trip(Model.ProgramId);
    var eventTypes = ViewData["EventTypes"] as Dictionary<int, guestACCESS.DataAccess.Entity.T_GASDataEventType>;
    var events = Model.GetEvents() as guestACCESS.DataAccess.Common.PaginatedCollection<EventBase>;
    var cart = ShoppingCart.GetShoppingCartofCurrentUser();
    int id = 0;
}
@if (events.Any())
{
    foreach (ProgramEvent i in events)
    {

        ProgramEvent addedEvent = cart.FindFirstAddedEvent(i) as ProgramEvent;
        if (i is GroupEvent)
        {
            id = ((GroupEvent)i).EventGroupId;
            foreach (var subItem in ((GroupEvent)i).GroupSubEvents)
            {
                addedEvent = cart.FindFirstAddedEvent(subItem) as ProgramEvent;
                if (addedEvent != null)
                {
                    addedEvent = i;
                    break;
                }
            }
        }
        if (addedEvent != null)
        {
            @Html.Partial("SelectedEvent", addedEvent)
        }
        else
        {
            bool isStockAvailable = true;
            if (i is ProgramEvent)
            {
                isStockAvailable = ((ProgramEvent)i).GetCurrentInventory().AvailableInventory > 0;
            }
            <div class="package-item">
                <figure class="package-img big_img">
                    <a href="javascript:void(0);">
                        @Html.Image(i.MediaContent.Image, "Photo", "event-img")
                    </a>
                </figure>

                <div class="package-text">
                    <div class="package-name">
                        @if (i is GroupEvent == true)
                        {
                            <a data-eventid="@i.MasterEventId">@i.EventName</a>
                        }
                        else
                        {
                            <a href="/Tariff/Details?egId=0&eventId=@i.MasterEventId" data-eventid="@i.MasterEventId">@i.EventName</a>

                        }
                        <br />
                        <span class="red">@(i.HostedEvent?"(This is a hosted event. No Payment needed)":"")</span>
                    </div>

                    <p>
                        @i.MediaContent.PlainTextDescription
                    </p>

                    <div class="price-box">

                        @if (i is GroupEvent == false)
                        {
                            if (i.InternalType == EventTemplateInternalType.Hotel)
                            {
                                <span class="price separately">
                                    Date:
                                    <ins>@SharedLib.Misc.DateTimeFormatter.ConvertToString(i.EventDate) to @SharedLib.Misc.DateTimeFormatter.ConvertToString(i.EventEndDate ?? i.EventDate)</ins>
                                </span>
                            }
                            if (string.IsNullOrEmpty(i.BookingURL) && isStockAvailable)
                            {
                                <span class="price separately">
                                    Price/Guest:
                                    <ins>@CurrencyConverter.ToPriceString(i.PricePerPAX)</ins>
                                </span>
                            }


                        }
                        else if(isStockAvailable)
                        {
                            <!--<span class="view-details-btn-container">-->
                            @*<button type="button" class="awe-btn awe-btn-3 awe-btn-small " data-eventid="<%=i.MasterEventId %>" onclick="Tariff.viewEventMore(this)">Details</button>*@

                            <!--<a class="awe-btn awe-btn-3 awe-btn-small" style="border-radius: 4px;" href="/Tariff/Details?egId=@id&eventId=@i.MasterEventId" data-eventid="@i.MasterEventId">Details</a>
                            </span>-->
                            <button type="button" class="awe-btn awe-btn-1 awe-btn-small" data-toggle="collapse" href="#collapse_@i.MasterEventId" role="button" aria-expanded="false" aria-controls="collapseOne">Select Options</button>
                        }
                    </div>

                    <!--BEGIN EVENT BUTTONS-->
                    <div class="text-right">
                        <div class="event-btns">
                            @if (i is GroupEvent == false )
                            {
                                <span class="view-details-btn-container">
                                    <a class="awe-btn awe-btn-3 awe-btn-small" style="border-radius: 4px;" href="/Tariff/Details?egId=0&eventId=@i.MasterEventId" data-eventid="@i.MasterEventId">Details</a>

                                </span>
                            }
                            @if (i is GroupEvent)
                            {
                                @* <span class="join-event-btn-container">
                                        <button type="button" class="awe-btn awe-btn-1 awe-btn-small join-event-btn" data-type="group" data-eventtype="<%=i.InternalType.ToString() %>" data-eventid="<%=i.MasterEventId %>" data-egid="<%=((GroupEvent)i).EventGroupId %>" onclick="Tariff.ViewEventGroup(this)">
                                            Join Event</button>
                                    </span>*@

                            }
                            else
                            {
                                <span class="join-event-btn-container">
                                    @if (i.BookingURL != null && i.BookingURL != "")
                                    {
                                        <button type="button" data-type="individual" class="awe-btn awe-btn-1 awe-btn-small join-event-btn" target="_blank" onclick="window.location='@i.BookingURL'">Book Now</button>
                                        @*<a href="<%=i.BookingURL %>"  class="awe-btn awe-btn-1 awe-btn-small join-event-btn" >Book Event</a>*@
                                    }
                                    else if(isStockAvailable)
                                    {
                                        <button type="button" data-type="individual" data-eventtype="@i.InternalType.ToString()" class="awe-btn awe-btn-1 awe-btn-small join-event-btn" data-eventid="@i.MasterEventId" onclick="Tariff.JoinEvent(this)">Select</button>

                                    }
                                </span>
                            }
                        </div>
                    </div>

                    <!--END EVENT BUTTONS-->

                </div>
                <div class="clearfix"></div>
                @if (i is GroupEvent)
                {

                    <div class="options">
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOption">
                                    <h5 class="mb-0 ">
                                        <a class="btn btn-link" data-toggle="collapse" href="#collapse_@i.MasterEventId" role="button" aria-expanded="false" aria-controls="collapseOne">Scroll for Options</a>
                                        <i class="fa fa-angle-down"></i>

                                    </h5>
                                </div>

                                <div id="collapse_@i.MasterEventId" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        <ul class="event-options">
                                            @if (((GroupEvent)i).GroupSubEvents.Any())
                                            {
                                                foreach (var sub in ((GroupEvent)i).GroupSubEvents)
                                                {
                                                    ProgramEvent subAddedEvent = cart.FindFirstAddedEvent(sub) as ProgramEvent;
                                                    var j = subAddedEvent != null ? subAddedEvent : sub;
                                                    var masterEventId = 0;
                                                    var isHostedEvent = false;
                                                    if (j is ProgramEvent)
                                                    {
                                                        isHostedEvent = ((ProgramEvent)j).HostedEvent;
                                                        masterEventId = ((ProgramEvent)j).MasterEventId;
                                                    }

                                                    <li>
                                                        <a class="eo-item eoi-event" data-eventid="@masterEventId" onclick="Tariff.viewEventMore(this)" style="cursor: pointer;text-decoration:underline;">
                                                            @j.EventName
                                                            @(j.Identifier != Guid.Empty ? "(Selected)" : "")
                                                            @if (isHostedEvent)
                                                            {
                                                                <span class='red'>(This is a hosted event. No Payment needed)</span>
                                                            }
                                                        </a>
                                                        @if (!j.DisableDateBasedEvent)
                                                        {
                                                            <span class="eo-item eoi-date">
                                                                @Html.RenderDateTimeRange(j.EventDate, j.EventEndDate, SharedLib.Misc.DateTimeFormatter.DefaultStyle)
                                                                @if (j.DepartureTime == null)
                                                                {
                                                                    @Html.RenderDateTimeRange(i.MasterDepartureTime, i.MasterReturnTime, SharedLib.Misc.DateTimeFormatter.Style2, "All day")
                                                                }
                                                                else
                                                                {
                                                                    @Html.RenderDateTimeRange(j.DepartureTime, j.ReturnTime, SharedLib.Misc.DateTimeFormatter.Style2, "All day")
                                                                }
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span class="eo-item eoi-date">
                                                            </span>
                                                        }
                                                        <span class="eo-item eoi-guest">
                                                            @if (j.Identifier != Guid.Empty)
                                                            {
                                                                @(j.PAXCount+" Guest(s)")
                                                            }
                                                            else if (trip.ShowInventory)
                                                            {
                                                                var eventInventory = new guestACCESS.Kernel.TripManagement.EventInventory(masterEventId);

                                                                @(eventInventory.AvailableInventory +" stock left")
                                                            }
                                                        </span>
                                                        <span class="eo-item eoi-usd">
                                                            <i class="fa fa-money"></i>
                                                            @CurrencyConverter.ToPriceString(j.PricePerPAX)
                                                        </span>
                                                        <button type="button" class="awe-btn awe-btn-1 awe-btn-small join-event-btn" data-eventid="@masterEventId" onclick="Tariff.JoinEvent(this)">
                                                            @*<span class="fa fa-cart-plus"></span>*@
                                                           Select
                                                        </button>
                                                    </li>
                                                }
                                            }
                                            else
                                            {
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        No option is available
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>



        }
    }
}
else
{
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <p class="text-center"><strong>No event is available.</strong></p>
        </div>
    </div>

}
<div class="clearfix"></div>
<!--Checkout Button-->
<div class="clearfix"></div>
<div class="page-navigation-cn">
    <button type="button" class="proceed-btn" data-action="checkout"><span>Proceed</span><i class="fas fa-chevron-right checkout-icon"></i></button>

    <div class="row">
        <div class="col-md-6 col-sm-6 mar-b-15">
            @Html.RenderPager(events.PageNum, events.PageCount)
        </div>
        <div class="col-md-6  col-sm-6">
            <div class="">
                @Html.RenderPageSizeSelect("pageSize", events.PageSize)
                @Html.RenderPageInfo(events.PageNum, events.PageSize, events.RecordCount)
                @Html.Hidden("pageNum", events.PageNum)
                @Html.Hidden("pageCount", events.PageCount)
                @Html.Hidden("backurl")
                @Html.Hidden("AddedEventCount", cart.Count)
            </div>
        </div>
    </div>
</div>


