@model guestACCESS.eCommerce.ProgramSource.ProgramEvent
@using guestACCESS.WebCommon
@using SharedLib
@using guestACCESS.ClientWeb
@using guestACCESS.eCommerce
@using guestACCESS.eCommerce.ProgramSource
@{
    var cart = ShoppingCart.GetShoppingCartofCurrentUser();
    var eventTypes = ViewData["EventTypes"] as Dictionary<int, guestACCESS.DataAccess.Entity.T_GASDataEventType>;
    var isHostedEvent = false;
    if (Model is ProgramEvent)
    {
        isHostedEvent = ((ProgramEvent)Model).HostedEvent;
    }
}
<div class="package-item event-selected">
    <span><i class="fas fa-check-circle fa-2x checked"></i></span>
    <figure class="package-img big_img">
        <a href="javascript:void(0);">
            @Html.Image(Model.MediaContent.Image, "Photo", "event-img")
        </a>
    </figure>
    <div class="package-text">
        <div class="package-name">
            @if (Model is GroupEvent == true)
            {
                <a data-eventid="@Model.MasterEventId">@Model.EventName</a>
                @*<a href="/Tariff/Details?egId=@(((GroupEvent)Model).EventGroupId)&eventId=@Model.MasterEventId" data-eventid="@Model.MasterEventId">@Model.EventName</a>*@
            }
            else
            {
                <a href="/Tariff/Details?egId=0&eventId=@Model.MasterEventId" data-eventid="@Model.MasterEventId">@Model.EventName</a>

            }
            @*<a href="javascript:void(0);" data-eventid="<%=Model.MasterEventId %>" onclick="Tariff.viewEventMore(this)"><%=Model.EventName %></a>*@
            <br />
            <span class="red">@(Model.HostedEvent ? "(This is a hosted event. No Payment needed)" : "")</span>
        </div>
        <p>
            @Model.MediaContent.PlainTextDescription
        </p>
        @if (Model is GroupEvent == true)
        {

            if (((GroupEvent)Model).GroupSubEvents.Any())
            {
                List<EventBase> ev = new List<EventBase>();
                foreach (var sub in ((GroupEvent)Model).GroupSubEvents)
                {
                    ProgramEvent subAddedEvent = cart.FindFirstAddedEvent(sub) as ProgramEvent;
                    var j = subAddedEvent != null ? subAddedEvent : sub;
                    if (j.Identifier!=Guid.Empty)
                    {
                        ev.Add(j);
                    }

                }

                <div class="price-box">
                    <span class="price separately">
                        Total Price:
                        <ins>@CurrencyConverter.ToPriceString(ev.Sum(x=>x.PricePerPAX*x.PAXCount))</ins>
                    </span>
                </div>
            }
        }
        else
        {
                <div class="price-box">
                    <span class="price separately">
                        Total Price:
                        <ins>@CurrencyConverter.ToPriceString(Model.PricePerPAX * Model.PAXCount)</ins>
                    </span>
                </div>
            }

            <div class="text-right">
                <div class="event-btns">
                    @if ((Model is GroupEvent) == false)
                    {
                        <span class="view-details-btn-container">
                            <a class="awe-btn awe-btn-3 awe-btn-small" style="border-radius: 4px;" href="/Tariff/Details?egId=0&eventId=@Model.MasterEventId" data-eventid="@Model.MasterEventId">Details</a>
                        </span>

                        <!--Quit Event Button-->
                        <span class="quit-btn-container">
                            <button type="button" class="quit-btn awe-btn awe-btn-1 awe-btn-small join-event-btn btn-danger" data-identifier="@Model.Identifier" onclick="Tariff.Remove(this)">Quit Event</button>
                        </span>
                        <!--Edit Event Button-->
                        <span class=" edit-btn-container">
                            <button type="button" class="edit-btn awe-btn awe-btn-1 awe-btn-small join-event-btn" data-identifier="@Model.Identifier" onclick="Tariff.EditEvent(this)">Edit</button>
                        </span>
                    }
                    else
                    {
                        @*<span class="view-details-btn-container">
                            <a class="awe-btn awe-btn-3 awe-btn-small" style="border-radius: 4px;" href="/Tariff/Details?egId=@(((GroupEvent)Model).EventGroupId)&eventId=@Model.MasterEventId" data-eventid="@Model.MasterEventId">Details</a>
                        </span>*@

                        <span class="quit-btn-container">
                            @*<a class="quit-btn" data-toggle="collapse" href="#collapse_<%:Model.MasterEventId %>" role="button" aria-expanded="false" aria-controls="collapseOne">Quit Event</a>*@
                            @*<button type="button" class="awe-btn awe-btn-1 awe-btn-small join-event-btn quit-btn" data-toggle="collapse" href="#collapse_@Model.MasterEventId" role="button" aria-expanded="false" aria-controls="collapseOne">Quit Event</button>*@
                            @*

                            <button type="button" class="quit-btn"  onclick='location.href="#collapse_<%:Model.MasterEventId %>'>Quit Event</button>*@
                        </span>

                        <span class="edit-btn-container">
                            <button type="button" class="awe-btn awe-btn-3 awe-btn-small" data-toggle="collapse" href="#collapse_@Model.MasterEventId" role="button" aria-expanded="false" aria-controls="collapseOne">Add/Remove Item</button>
                        </span>
                    }
                </div>
            </div>


        </div>
    @{
        var selectedSubEvent = new List<Guid>();
    }

    @if (Model is GroupEvent)
    {

        @*    <%Html.RenderPartial("GroupOption", Model); %>*@

        <div class="clearfix"></div>

        <div class="options">
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOption">
                        <h5 class="mb-0">
                            <a class="btn btn-link" data-toggle="collapse" href="#collapse_@Model.MasterEventId" role="button" aria-expanded="false" aria-controls="collapseOne">Options</a>
                            <i class="fa fa-angle-down"></i>
                        </h5>
                    </div>
                    <div id="collapse_@Model.MasterEventId" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            <ul class="event-options">
                                @if (((GroupEvent)Model).GroupSubEvents.Any())
                                {
                                    foreach (var sub in ((GroupEvent)Model).GroupSubEvents)
                                    {
                                        var eventId = 0;
                                        ProgramEvent subAddedEvent = cart.FindFirstAddedEvent(sub) as ProgramEvent;
                                        var j = subAddedEvent != null ? subAddedEvent : sub;
                                        var isHosted = false;
                                        if (j is ProgramArrivalTransportEvent)
                                        {
                                            eventId = ((ProgramArrivalTransportEvent)j).MasterEventId;
                                            isHosted = ((ProgramArrivalTransportEvent)j).HostedEvent;
                                        }
                                        else if (j is ProgramEvent)
                                        {
                                            eventId = ((ProgramEvent)j).MasterEventId;
                                            isHosted = ((ProgramEvent)j).HostedEvent;
                                        }
                                        else if (j is ProgramDepartureTransportEvent)
                                        {
                                            eventId = ((ProgramDepartureTransportEvent)j).MasterEventId;
                                            isHosted = ((ProgramDepartureTransportEvent)j).HostedEvent;
                                        }
                                        if (j.Identifier != Guid.Empty)
                                        {
                                            selectedSubEvent.Add(j.Identifier);
                                        }
                                        <li>
                                            <a  class="eo-item eoi-event" data-eventid="@eventId" onclick="Tariff.viewEventMore(this)" style="cursor: pointer;text-decoration:underline;">
                                                @j.EventName
                                                @Html.Raw(isHosted?"<span class='red'>(This is a hosted event. No Payment needed)</span>" :"")
                                            </a>
                                            @if (!j.DisableDateBasedEvent)
                                            {
                                                <span class="eo-item eoi-date">
                                                    @Html.RenderDateTimeRange(j.EventDate, j.EventEndDate, SharedLib.Misc.DateTimeFormatter.DefaultStyle)
                                                    @if (j.DepartureTime != null)
                                                    {
                                                        @Html.RenderDateTimeRange(j.DepartureTime, j.ReturnTime, SharedLib.Misc.DateTimeFormatter.Style2, "All day")
                                                    }
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="eo-item eoi-date">
                                                </span>
                                            }
                                            <span class="eo-item eoi-guest">
                                                @(j.Identifier != Guid.Empty ? j.PAXCount + " Guest(s)" : " ")
                                            </span>
                                            <span class="eo-item eoi-usd">
                                                <i class="fa fa-money"></i>
                                                @CurrencyConverter.ToPriceString(j.PricePerPAX) (PP)
                                            </span>
                                            @if (j.Identifier == Guid.Empty)
                                        {
                                                <a style="width:110px" class="btn btn-primary btn-sm right" data-eventid="@eventId" onclick="Tariff.JoinEvent(this)">
                                                 Add To Cart
                                                </a>
                                    }
                                            else
                                            {
                                                <div class="eo-item eoi-btn">
                                                    <a class=" btn btn-primary btn-sm right" data-identifier="@j.Identifier" onclick="Tariff.EditEvent(this)">
                                                        Edit
                                                    </a>
                                                    <a class="btn btn-danger btn-sm right" data-identifier="@j.Identifier" onclick="Tariff.Remove(this)">
                                                       Remove
                                                    </a>
                                                </div>
                                            }
                                        </li>
                                    }
                                }
                                else
                                {
                                    <li>
                                        <a href="javascript:void(0);">
                                            No option is available
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="clearfix"></div>
    @* <div class="event-btns-contain center">
                <!--BEGIN ROW-->
                <div class="event-btns row">
                    <!--View Details Button-->

                    @if ((Model is GroupEvent) == false)
                    {
                        <span class="col-lg-3 view-details-btn-container">
                            <a class="viewDetails v-sm" style="border-radius: 4px;" href="/Tariff/Details?egId=0&eventId=@Model.MasterEventId" data-eventid="@Model.MasterEventId">Details</a>
                        </span>

                        <!--Quit Event Button-->
                        <span class="col-lg-3 quit-btn-container">
                            <button type="button" class="quit-btn" data-identifier="@Model.Identifier" onclick="Tariff.Remove(this)">Quit Event</button>
                        </span>
                        <!--Edit Event Button-->
                        <span class="col-lg-3 edit-btn-container">
                            <button type="button" class="edit-btn" data-identifier="@Model.Identifier" onclick="Tariff.EditEvent(this)">Edit</button>
                        </span>
                    }
                    else
                    {
                        <span class="col-lg-3 view-details-btn-container">
                            <a class="viewDetails v-sm" style="border-radius: 4px;" href="/Tariff/Details?egId=@((GroupEvent)Model).EventGroupId&eventId=@Model.MasterEventId" data-eventid="@Model.MasterEventId">Details</a>
                        </span>

                        <span class="col-lg-3 quit-btn-container">
                            @*<a class="quit-btn" data-toggle="collapse" href="#collapse_<%:Model.MasterEventId %>" role="button" aria-expanded="false" aria-controls="collapseOne">Quit Event</a>@
            <button type="button" class="quit-btn" data-toggle="collapse" href="#collapse_@Model.MasterEventId" role="button" aria-expanded="false" aria-controls="collapseOne">Quit Event</button>
            @*

                <button type="button" class="quit-btn"  onclick='location.href="#collapse_<%:Model.MasterEventId %>'>Quit Event</button>@
            </span>

            <span class="col-lg-3 edit-btn-container">
                <button type="button" class="edit-btn" data-eventid="@Model.MasterEventId" data-egid="@((GroupEvent)Model).EventGroupId" onclick="Tariff.ViewEventGroup(this)">Add More Event</button>
            </span>
            }
        </div>
        <!--END ROW-->
            </div>*@
</div>






